In [125]:
save_path = "../dataset/train/merged_optimized"
save_test_path = "../dataset/test/merged_optimized"

# file_dict = {
#     "1.회원정보": "member_optimized.parquet",
#     "2.신용정보": "credit_optimized.parquet",
#     "3.승인매출정보": "tx_optimized.parquet",
#     "4.청구입금정보": "bill_optimized.parquet",
#     "5.잔액정보": "balance_optimized.parquet",
#     "6.채널정보": "channel_optimized.parquet",
#     "7.마케팅정보": "mkt_optimized.parquet",
#     "8.성과정보": "perf_optimized.parquet"
# }

In [2]:
import pandas as pd
import os

In [10]:
def detect_missing_values(df : pd.DataFrame):
    
    # 각 열의 결측치 개수 및 결측치 비율 계산
    missing_count = df.isnull().sum()
    missing_percentage = (missing_count / len(df)) * 100
    
    missing_summary = pd.DataFrame({
        'missing_count': missing_count,
        'missing_percentage': missing_percentage,
        'type': df.dtypes,
    })
     
     # 결측치가 있는 열만 반환환
    return missing_summary[missing_summary['missing_count'] > 0]

In [11]:
def convert_to_datetime(df : pd.DataFrame, date_cols : list):
    for col in date_cols:
        df[col] = pd.to_datetime(df[col], errors='coerce', format='%Y%m%d')
    return df

## 회원정보

In [8]:
file_name = "member_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 77 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   기준년월                600000 non-null  int32
 1   ID                  600000 non-null  category
 2   남녀구분코드              600000 non-null  int8
 3   연령                  600000 non-null  category
 4   회원여부_이용가능           600000 non-null  int8
 5   회원여부_이용가능_CA        600000 non-null  int8
 6   회원여부_이용가능_카드론       600000 non-null  int8
 7   소지여부_신용             600000 non-null  int8
 8   소지카드수_유효_신용         600000 non-null  int8
 9   소지카드수_이용가능_신용       600000 non-null  int8
 10  입회일자_신용             600000 non-null  int32
 11  입회경과개월수_신용          600000 non-null  int16
 12  회원여부_연체             600000 non-null  int8
 13  이용거절여부_카드론          600000 non-null  int8
 14  동의여부_한도증액안내         600000 non-null  int8
 15  수신거부여부_TM           600000 non-null  int8
 16  수신거부여부_DM           600000 non-null  int8
 17  수신거부여부_메일           600000 non-null  int8
 18  수신거부여부_SMS          600000 non-null  int8
 19  가입통신회사코드            502917 non-null  category
 20  탈회횟수_누적             600000 non-null  int8
 21  최종탈회후경과월            600000 non-null  int8
 22  탈회횟수_발급6개월이내        600000 non-null  int8
 23  탈회횟수_발급1년이내         600000 non-null  int8
 24  거주시도명               600000 non-null  category
 25  직장시도명               537767 non-null  category
 26  마케팅동의여부             600000 non-null  int8
 27  유효카드수_신용체크          600000 non-null  int8
 28  유효카드수_신용            600000 non-null  int8
 29  유효카드수_신용_가족         600000 non-null  int8
 30  유효카드수_체크            600000 non-null  int8
 31  유효카드수_체크_가족         600000 non-null  int8
 32  이용가능카드수_신용체크        600000 non-null  int8
 33  이용가능카드수_신용          600000 non-null  int8
 34  이용가능카드수_신용_가족       600000 non-null  int8
 35  이용가능카드수_체크          600000 non-null  int8
 36  이용가능카드수_체크_가족       600000 non-null  int8
 37  이용카드수_신용체크          600000 non-null  int8
 38  이용카드수_신용            600000 non-null  int8
 39  이용카드수_신용_가족         600000 non-null  int8
 40  이용카드수_체크            600000 non-null  int8
 41  이용카드수_체크_가족         600000 non-null  int8
 42  이용금액_R3M_신용체크       600000 non-null  int32
 43  이용금액_R3M_신용         600000 non-null  int32
 44  이용금액_R3M_신용_가족      600000 non-null  int16
 45  이용금액_R3M_체크         600000 non-null  int32
 46  이용금액_R3M_체크_가족      600000 non-null  int8
 47  _1순위카드이용금액          600000 non-null  int32
 48  _1순위카드이용건수          600000 non-null  int16
 49  _1순위신용체크구분          592769 non-null  category
 50  _2순위카드이용금액          600000 non-null  int32
 51  _2순위카드이용건수          600000 non-null  int16
 52  _2순위신용체크구분          360112 non-null  category
 53  최종유효년월_신용_이용가능      546851 non-null  float32
 54  최종유효년월_신용_이용        465183 non-null  float32
 55  최종카드발급일자            589146 non-null  float32
 56  보유여부_해외겸용_본인        600000 non-null  int8
 57  이용가능여부_해외겸용_본인      600000 non-null  int8
 58  이용여부_3M_해외겸용_본인     600000 non-null  int8
 59  보유여부_해외겸용_신용_본인     600000 non-null  int8
 60  이용가능여부_해외겸용_신용_본인   600000 non-null  int8
 61  이용여부_3M_해외겸용_신용_본인  600000 non-null  int8
 62  연회비발생카드수_B0M        600000 non-null  category
 63  연회비할인카드수_B0M        600000 non-null  int8
 64  기본연회비_B0M           600000 non-null  int8
 65  제휴연회비_B0M           600000 non-null  int16
 66  할인금액_기본연회비_B0M      600000 non-null  int8
 67  할인금액_제휴연회비_B0M      600000 non-null  int8
 68  청구금액_기본연회비_B0M      600000 non-null  int8
 69  청구금액_제휴연회비_B0M      600000 non-null  int16
 70  상품관련면제카드수_B0M       600000 non-null  category
 71  임직원면제카드수_B0M        600000 non-null  category
 72  우수회원면제카드수_B0M       600000 non-null  category
 73  기타면제카드수_B0M         600000 non-null  category
 74  카드신청건수              600000 non-null  int8
 75  Life_Stage          600000 non-null  category
 76  최종카드발급경과월           600000 non-null  int8
dtypes: category(13), float32(3), int16(6), int32(7), int8(48)
memory usage: 69.2 MB

In [12]:
detect_missing_values(df)

                missing_count  missing_percentage      type
가입통신회사코드                97083           16.180500  category
직장시도명                   62233           10.372167  category
_1순위신용체크구분               7231            1.205167  category
_2순위신용체크구분             239888           39.981333  category
최종유효년월_신용_이용가능          53149            8.858167   float32
최종유효년월_신용_이용           134817           22.469500   float32
최종카드발급일자                10854            1.809000   float32

In [13]:
df["가입통신회사코드"].unique()

['K사', 'S사', NaN, 'L사']
Categories (3, object): ['K사', 'L사', 'S사']

In [14]:
df['가입통신회사코드'] = df['가입통신회사코드'].cat.add_categories('unknown')
df['가입통신회사코드'] = df['가입통신회사코드'].fillna('unknown') # inplace는 추천하지 않음.

df["가입통신회사코드"].unique()

['K사', 'S사', 'unknown', 'L사']
Categories (4, object): ['K사', 'L사', 'S사', 'unknown']

In [15]:
df["직장시도명"].unique()

['경기', '인천', '서울', '충북', '전북', ..., '경북', '울산', '경남', '제주', '세종']
Length: 18
Categories (17, object): ['강원', '경기', '경남', '경북', ..., '전북', '제주', '충남', '충북']

In [16]:
df["직장시도명"] = df["직장시도명"].cat.add_categories('unknown')
df["직장시도명"] = df["직장시도명"].fillna('unknown') # inplace는 추천하지 않음.

df["직장시도명"].unique()

['경기', '인천', '서울', '충북', '전북', ..., '경북', '울산', '경남', '제주', '세종']
Length: 18
Categories (18, object): ['강원', '경기', '경남', '경북', ..., '제주', '충남', '충북', 'unknown']

In [17]:
df["_1순위신용체크구분"].unique()

['신용', '체크', NaN]
Categories (2, object): ['신용', '체크']

In [18]:
df["_1순위신용체크구분"] = df["_1순위신용체크구분"].cat.add_categories('unknown')
df["_1순위신용체크구분"] = df["_1순위신용체크구분"].fillna('unknown') # inplace는 추천하지 않음.

df["_1순위신용체크구분"].unique()

['신용', '체크', 'unknown']
Categories (3, object): ['신용', '체크', 'unknown']

In [19]:
df["_2순위신용체크구분"].unique()

['신용', '체크', NaN]
Categories (2, object): ['신용', '체크']

In [20]:
df["_2순위신용체크구분"] = df["_2순위신용체크구분"].cat.add_categories('unknown')
df["_2순위신용체크구분"] = df["_2순위신용체크구분"].fillna('unknown') # inplace는 추천하지 않음.

df["_2순위신용체크구분"].unique()

['신용', '체크', 'unknown']
Categories (3, object): ['신용', '체크', 'unknown']

In [21]:
list = df["최종유효년월_신용_이용가능"].unique()
list.sort()
list

array([201806., 201807., 201808., 201809., 201810., 201811., 201812.,
       201901., 201902., 201903., 201904., 201905., 201906., 201907.,
       201908., 201909., 201910., 201911., 201912., 202001., 202002.,
       202003., 202004., 202005., 202006., 202007., 202008., 202009.,
       202010., 202011., 202012., 202101., 202102., 202103., 202104.,
       202105., 202106., 202107., 202108., 202109., 202110., 202111.,
       202112., 202201., 202202., 202203., 202204., 202205., 202206.,
       202207., 202208., 202209., 202210., 202211., 202212., 202301.,
       202302., 202303., 202304., 202305., 202306., 202307., 202308.,
       202309., 202310., 202311., 202312., 202401., 202402., 202403.,
       202404., 202405., 202406.,     nan], dtype=float32)

In [22]:
df["최종유효년월_신용_이용가능"] = pd.to_datetime(df["최종유효년월_신용_이용가능"], format='%Y%m%d', errors='coerce')
df["최종유효년월_신용_이용가능"].info()
df["최종유효년월_신용_이용가능"].unique()

<class 'pandas.core.series.Series'>
RangeIndex: 600000 entries, 0 to 599999
Series name: 최종유효년월_신용_이용가능
Non-Null Count  Dtype
--------------  -----
92852 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 4.6 MB

<DatetimeArray>
[                'NaT', '2022-01-02 00:00:00', '2019-01-02 00:00:00',
 '2022-01-01 00:00:00', '2018-01-02 00:00:00', '2023-01-02 00:00:00',
 '2021-01-02 00:00:00', '2019-01-01 00:00:00', '2020-01-02 00:00:00',
 '2021-01-01 00:00:00', '2020-01-01 00:00:00', '2023-01-01 00:00:00',
 '2018-01-01 00:00:00']
Length: 13, dtype: datetime64[ns]

In [23]:
df["최종유효년월_신용_이용"].unique()

array([201908., 202108., 202301., 202212., 202306.,     nan, 202105.,
       202201., 202107., 202110., 202211., 201910., 202111., 202005.,
       202206., 202207., 202106., 202102., 202209., 202002., 202304.,
       202307., 202210., 202302., 202205., 201911., 202006., 201909.,
       202203., 202004., 201904., 202303., 202008., 202112., 202109.,
       201912., 202104., 202208., 202003., 202101., 202204., 202309.,
       202202., 202305., 202311., 202012., 202011., 202007., 202009.,
       202010., 202308., 202001., 202103., 201906., 201905., 201903.,
       202312., 202310., 201907., 201901., 201812., 201902., 201811.,
       201810., 201809., 202401., 202402., 202403., 202404., 202405.,
       202406.], dtype=float32)

In [24]:
df["최종유효년월_신용_이용"] = pd.to_datetime(df["최종유효년월_신용_이용"], format='%Y%m%d', errors='coerce')
df["최종유효년월_신용_이용"].info()
df["최종유효년월_신용_이용"].unique()

<class 'pandas.core.series.Series'>
RangeIndex: 600000 entries, 0 to 599999
Series name: 최종유효년월_신용_이용
Non-Null Count  Dtype
--------------  -----
79224 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 4.6 MB

<DatetimeArray>
[                'NaT', '2022-01-02 00:00:00', '2022-01-01 00:00:00',
 '2021-01-01 00:00:00', '2019-01-01 00:00:00', '2021-01-02 00:00:00',
 '2019-01-02 00:00:00', '2023-01-01 00:00:00', '2020-01-02 00:00:00',
 '2020-01-01 00:00:00', '2023-01-02 00:00:00', '2018-01-02 00:00:00',
 '2018-01-01 00:00:00']
Length: 13, dtype: datetime64[ns]

In [25]:
df["최종카드발급일자"].unique()

array([20141008., 20161228., 20180224., ..., 20181210., 20181232.,
       20181230.], dtype=float32)

In [26]:
# df["최종카드발급일자"] = pd.to_datetime(df["최종카드발급일자"], format="%Y%m%d", errors='coerce')
# df["최종카드발급일자"].info()
# df["최종카드발급일자"].unique()

columns = ["최종카드발급일자", "최종유효년월_신용_이용", "최종유효년월_신용_이용가능"]
df = convert_to_datetime(df, columns)

for col in columns:
    print(df[col].unique())

<DatetimeArray>
['2014-10-08 00:00:00', '2016-12-28 00:00:00', '2018-02-24 00:00:00',
 '2017-12-20 00:00:00', '2018-06-16 00:00:00', '2016-12-04 00:00:00',
 '2016-07-12 00:00:00', '2018-04-14 00:00:00', '2016-12-12 00:00:00',
 '2016-08-12 00:00:00',
 ...
 '2018-12-04 00:00:00', '2018-12-12 00:00:00', '2018-12-14 00:00:00',
 '2018-12-06 00:00:00', '2018-12-20 00:00:00', '2018-12-22 00:00:00',
 '2018-12-18 00:00:00', '2018-12-02 00:00:00', '2018-12-10 00:00:00',
 '2018-12-30 00:00:00']
Length: 936, dtype: datetime64[ns]
<DatetimeArray>
[                'NaT', '2022-01-02 00:00:00', '2022-01-01 00:00:00',
 '2021-01-01 00:00:00', '2019-01-01 00:00:00', '2021-01-02 00:00:00',
 '2019-01-02 00:00:00', '2023-01-01 00:00:00', '2020-01-02 00:00:00',
 '2020-01-01 00:00:00', '2023-01-02 00:00:00', '2018-01-02 00:00:00',
 '2018-01-01 00:00:00']
Length: 13, dtype: datetime64[ns]
<DatetimeArray>
[                'NaT', '2022-01-02 00:00:00', '2019-01-02 00:00:00',
 '2022-01-01 00:00:00', '2018-01-02 00:00:00', '2023-01-02 00:00:00',
 '2021-01-02 00:00:00', '2019-01-01 00:00:00', '2020-01-02 00:00:00',
 '2021-01-01 00:00:00', '2020-01-01 00:00:00', '2023-01-01 00:00:00',
 '2018-01-01 00:00:00']
Length: 13, dtype: datetime64[ns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 77 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   기준년월                600000 non-null  int32
 1   ID                  600000 non-null  category
 2   남녀구분코드              600000 non-null  int8
 3   연령                  600000 non-null  category
 4   회원여부_이용가능           600000 non-null  int8
 5   회원여부_이용가능_CA        600000 non-null  int8
 6   회원여부_이용가능_카드론       600000 non-null  int8
 7   소지여부_신용             600000 non-null  int8
 8   소지카드수_유효_신용         600000 non-null  int8
 9   소지카드수_이용가능_신용       600000 non-null  int8
 10  입회일자_신용             600000 non-null  int32
 11  입회경과개월수_신용          600000 non-null  int16
 12  회원여부_연체             600000 non-null  int8
 13  이용거절여부_카드론          600000 non-null  int8
 14  동의여부_한도증액안내         600000 non-null  int8
 15  수신거부여부_TM           600000 non-null  int8
 16  수신거부여부_DM           600000 non-null  int8
 17  수신거부여부_메일           600000 non-null  int8
 18  수신거부여부_SMS          600000 non-null  int8
 19  가입통신회사코드            600000 non-null  category
 20  탈회횟수_누적             600000 non-null  int8
 21  최종탈회후경과월            600000 non-null  int8
 22  탈회횟수_발급6개월이내        600000 non-null  int8
 23  탈회횟수_발급1년이내         600000 non-null  int8
 24  거주시도명               600000 non-null  category
 25  직장시도명               600000 non-null  category
 26  마케팅동의여부             600000 non-null  int8
 27  유효카드수_신용체크          600000 non-null  int8
 28  유효카드수_신용            600000 non-null  int8
 29  유효카드수_신용_가족         600000 non-null  int8
 30  유효카드수_체크            600000 non-null  int8
 31  유효카드수_체크_가족         600000 non-null  int8
 32  이용가능카드수_신용체크        600000 non-null  int8
 33  이용가능카드수_신용          600000 non-null  int8
 34  이용가능카드수_신용_가족       600000 non-null  int8
 35  이용가능카드수_체크          600000 non-null  int8
 36  이용가능카드수_체크_가족       600000 non-null  int8
 37  이용카드수_신용체크          600000 non-null  int8
 38  이용카드수_신용            600000 non-null  int8
 39  이용카드수_신용_가족         600000 non-null  int8
 40  이용카드수_체크            600000 non-null  int8
 41  이용카드수_체크_가족         600000 non-null  int8
 42  이용금액_R3M_신용체크       600000 non-null  int32
 43  이용금액_R3M_신용         600000 non-null  int32
 44  이용금액_R3M_신용_가족      600000 non-null  int16
 45  이용금액_R3M_체크         600000 non-null  int32
 46  이용금액_R3M_체크_가족      600000 non-null  int8
 47  _1순위카드이용금액          600000 non-null  int32
 48  _1순위카드이용건수          600000 non-null  int16
 49  _1순위신용체크구분          600000 non-null  category
 50  _2순위카드이용금액          600000 non-null  int32
 51  _2순위카드이용건수          600000 non-null  int16
 52  _2순위신용체크구분          600000 non-null  category
 53  최종유효년월_신용_이용가능      92852 non-null   datetime64[ns]
 54  최종유효년월_신용_이용        79224 non-null   datetime64[ns]
 55  최종카드발급일자            558090 non-null  datetime64[ns]
 56  보유여부_해외겸용_본인        600000 non-null  int8
 57  이용가능여부_해외겸용_본인      600000 non-null  int8
 58  이용여부_3M_해외겸용_본인     600000 non-null  int8
 59  보유여부_해외겸용_신용_본인     600000 non-null  int8
 60  이용가능여부_해외겸용_신용_본인   600000 non-null  int8
 61  이용여부_3M_해외겸용_신용_본인  600000 non-null  int8
 62  연회비발생카드수_B0M        600000 non-null  category
 63  연회비할인카드수_B0M        600000 non-null  int8
 64  기본연회비_B0M           600000 non-null  int8
 65  제휴연회비_B0M           600000 non-null  int16
 66  할인금액_기본연회비_B0M      600000 non-null  int8
 67  할인금액_제휴연회비_B0M      600000 non-null  int8
 68  청구금액_기본연회비_B0M      600000 non-null  int8
 69  청구금액_제휴연회비_B0M      600000 non-null  int16
 70  상품관련면제카드수_B0M       600000 non-null  category
 71  임직원면제카드수_B0M        600000 non-null  category
 72  우수회원면제카드수_B0M       600000 non-null  category
 73  기타면제카드수_B0M         600000 non-null  category
 74  카드신청건수              600000 non-null  int8
 75  Life_Stage          600000 non-null  category
 76  최종카드발급경과월           600000 non-null  int8
dtypes: category(13), datetime64[ns](3), int16(6), int32(7), int8(48)
memory usage: 76.0 MB

In [28]:
df.to_parquet(file_path, index=False)

## 신용정보

In [29]:
file_name = "credit_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 42 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   기준년월            600000 non-null  int32
 1   ID              600000 non-null  category
 2   최초한도금액          600000 non-null  int32
 3   카드이용한도금액        600000 non-null  int32
 4   CA한도금액          600000 non-null  int32
 5   일시상환론한도금액       600000 non-null  int32
 6   월상환론한도금액        600000 non-null  int32
 7   CA이자율_할인전       600000 non-null  float32
 8   CL이자율_할인전       600000 non-null  float32
 9   RV일시불이자율_할인전    600000 non-null  float32
 10  RV현금서비스이자율_할인전  600000 non-null  float32
 11  RV신청일자          112482 non-null  float32
 12  RV약정청구율         600000 non-null  float32
 13  RV최소결제비율        600000 non-null  float32
 14  자발한도감액횟수_R12M   600000 non-null  category
 15  자발한도감액금액_R12M   600000 non-null  int8
 16  자발한도감액후경과월      600000 non-null  int8
 17  강제한도감액횟수_R12M   600000 non-null  int8
 18  강제한도감액금액_R12M   600000 non-null  int8
 19  강제한도감액후경과월      600000 non-null  int8
 20  한도증액횟수_R12M     600000 non-null  category
 21  한도증액금액_R12M     600000 non-null  int8
 22  한도증액후경과월        600000 non-null  int8
 23  상향가능한도금액        600000 non-null  int8
 24  상향가능CA한도금액      600000 non-null  int8
 25  카드론동의여부         600000 non-null  category
 26  월상환론상향가능한도금액    600000 non-null  int8
 27  RV전환가능여부        592366 non-null  category
 28  일시불ONLY전환가능여부   600000 non-null  int8
 29  카드이용한도금액_B1M    600000 non-null  int32
 30  카드이용한도금액_B2M    600000 non-null  int32
 31  특별한도보유여부_R3M    600000 non-null  int8
 32  연체감액여부_R3M      600000 non-null  int8
 33  한도심사요청건수        600000 non-null  category
 34  한도요청거절건수        600000 non-null  int8
 35  한도심사요청후경과월      600000 non-null  int8
 36  한도심사거절후경과월      600000 non-null  int8
 37  시장단기연체여부_R6M    600000 non-null  int8
 38  시장단기연체여부_R3M    600000 non-null  int8
 39  시장연체상환여부_R6M    600000 non-null  int8
 40  시장연체상환여부_R3M    600000 non-null  int8
 41  rv최초시작후경과일      600000 non-null  int32
dtypes: category(6), float32(7), int32(9), int8(20)
memory usage: 56.0 MB

In [30]:
detect_missing_values(df)

          missing_count  missing_percentage      type
RV신청일자           487518           81.253000   float32
RV전환가능여부           7634            1.272333  category

In [31]:
df["RV전환가능여부"].unique()

['Z', 'N', NaN]
Categories (2, object): ['N', 'Z']

In [32]:
df["RV전환가능여부"] = df["RV전환가능여부"].cat.add_categories('unknown')
df["RV전환가능여부"] = df["RV전환가능여부"].fillna('unknown') # inplace는 추천하지 않음.

df["RV전환가능여부"].unique()

['Z', 'N', 'unknown']
Categories (3, object): ['N', 'Z', 'unknown']

In [33]:
df["RV신청일자"].unique()

array([      nan, 20170924., 20140416., 20120324., 20160424., 20120310.,
       20140408., 20120424., 20180224., 20171004., 20120400., 20160408.,
       20171008., 20160512., 20120302., 20120318., 20120312., 20170128.,
       20120116., 20170118., 20120220., 20111224., 20170928., 20170922.,
       20120204., 20160600., 20171016., 20160528., 20170920., 20120416.,
       20120414., 20160516., 20120124., 20120126., 20180214., 20120510.,
       20051116., 20120320., 20160604., 20111020., 20171010., 20171002.,
       20160406., 20171012., 20160428., 20120304., 20120222., 20170916.,
       20160606., 20180220., 20170124., 20170202., 20120120., 20170116.,
       20160520., 20120216., 20120316., 20140318., 20111232., 20120202.,
       20160518., 20111206., 20120228., 20160602., 20160526., 20160500.,
       20160422., 20111112., 20160416., 20120212., 20170926., 20160506.,
       20160524., 20160618., 20160616., 20160530., 20180222., 20160420.,
       20120226., 20111210., 20120308., 20120106., 20120210., 20160504.,
       20120108., 20120420., 20120122., 20170914., 20120404., 20160510.,
       20160514., 20160322., 20111212., 20160412., 20120528., 20120132.,
       20160430., 20120328., 20120200., 20160404., 20140412., 20170930.,
       20111128., 20120500., 20160508., 20171014., 20160628., 20160608.,
       20170112., 20170208., 20170132., 20170130., 20171020., 20160612.,
       20120524., 20180226., 20160328., 20120300., 20120128., 20170204.,
       20160400., 20120410., 20160410., 20111202., 20160522., 20160502.,
       20120114., 20170918., 20111124., 20180228., 20120412., 20140224.,
       20120224., 20120332., 20170912., 20170120., 20120112., 20171018.,
       20120504., 20120218., 20120408., 20111216., 20120314., 20160418.,
       20120330., 20140422., 20160324., 20180304., 20120104., 20160532.,
       20160330., 20171006., 20160426., 20180216., 20111208., 20171000.,
       20160402., 20111114., 20120214., 20120322., 20170216., 20120428.,
       20120100., 20111230., 20111228., 20120612., 20120406., 20160630.,
       20140420., 20160610., 20120110., 20180212., 20170206., 20120326.,
       20140320., 20140500., 20120130., 20120208., 20120422., 20140414.,
       20160614., 20140324., 20170122., 20170126., 20120206., 20120604.,
       20140520., 20111204., 20120430., 20170114., 20160620., 20160624.,
       20120600., 20060204., 20120402., 20140304., 20180518., 20120306.,
       20120512., 20170200., 20140208., 20160414., 20160228., 20111110.,
       20160704., 20170108., 20180218., 20120520., 20120518., 20120530.,
       20111222., 20120620., 20140418., 20140300., 20160326., 20140202.,
       20111214., 20160312., 20140528., 20120516., 20140330., 20140508.,
       20140126., 20140322., 20120418., 20140328., 20140228., 20140308.,
       20111108., 20111218., 20160332., 20140402., 20111220., 20120506.,
       20120606., 20120118., 20180520., 20170110., 20160320., 20170212.,
       20140332., 20160626., 20120608., 20140114., 20120514., 20060226.,
       20140316., 20140502., 20120426., 20120508., 20160622., 20140326.,
       20120526., 20140220., 20180308., 20140200., 20171024., 20170908.,
       20180516., 20171022., 20111120., 20111226., 20140310., 20140312.,
       20140314., 20140430., 20170104., 20140204., 20140400., 20140504.,
       20180300., 20050908., 20140604., 20180302., 20111104., 20140218.,
       20111130., 20170210., 20111200., 20060316., 20140302., 20140404.,
       20140406., 20140512., 20140212., 20120102., 20140424., 20140124.,
       20140226., 20120502., 20140524., 20120522., 20180210., 20111126.,
       20060206., 20140516., 20140426., 20111116., 20140306., 20131224.,
       20140214., 20111032., 20120532., 20140120., 20120610., 20111122.,
       20140216., 20111010., 20170220., 20171026., 20050922., 20160314.,
       20140102., 20140130., 20140410., 20111102., 20120614., 20171028.,
       20120616., 20140128., 20160700., 20111106., 20120602., 20140428.,
       20161228., 20120624., 20180514., 20111024., 20051100., 20131228.,
       20170910., 20170904., 20140610., 20140222., 20120628., 20140116.,
       20160310., 20170214., 20111118., 20140530., 20051224., 20140506.,
       20140612., 20060220., 20060308., 20180512., 20160304., 20161232.,
       20051120., 20170906., 20111022., 20120618., 20060118., 20060120.,
       20051216., 20140510., 20140514., 20111100., 20051024., 20051208.,
       20160706., 20170106., 20120714., 20120712., 20180328., 20171102.,
       20171108., 20171124., 20160712., 20171104., 20171032., 20170310.,
       20160800., 20171112., 20171100., 20180324., 20051108., 20171118.,
       20171120., 20160708., 20180330., 20170318., 20170306., 20170226.,
       20170222., 20160702., 20171116., 20171128., 20171030., 20140532.,
       20160716., 20170316., 20170224., 20170314., 20171110., 20120700.,
       20170308., 20171106., 20120716., 20170228., 20120728., 20160720.,
       20120722., 20170218., 20160710., 20180404., 20171122., 20180402.,
       20160718., 20170302., 20170322., 20160714., 20171114., 20140608.,
       20170320., 20160728., 20180326., 20140708., 20160802., 20160816.,
       20120702., 20160722., 20170300., 20180316., 20180320., 20180332.,
       20120802., 20170304., 20170404., 20170324., 20160724., 20120806.,
       20180322., 20180624., 20160726., 20160804., 20180312., 20160316.,
       20160904., 20180400., 20170330., 20160824., 20171206., 20170328.,
       20120622., 20160730., 20140616., 20180318., 20140712., 20170312.,
       20160906., 20120704., 20171200., 20160812., 20140628., 20120908.,
       20140526., 20171204., 20111016., 20120626., 20140606., 20180620.,
       20171130., 20160806., 20050930., 20140630., 20161220., 20160732.,
       20160808., 20171126., 20120724., 20120710., 20180408., 20060624.,
       20180314., 20180406., 20120706., 20110906., 20060304., 20140824.,
       20120920., 20180622., 20120630., 20180412., 20060314., 20140724.,
       20111004., 20120726., 20050628., 20140614., 20160828., 20051004.,
       20140522., 20171202., 20160810., 20120708., 20180310., 20120820.,
       20111012., 20120824., 20120916., 20160900., 20180614., 20160820.,
       20120808., 20120730., 20180616., 20120804., 20171208., 20120718.,
       20131128., 20131112., 20120810., 20120720., 20140624., 20120830.,
       20160814., 20160926., 20051226., 20140702., 20140720., 20170408.,
       20060208., 20120732., 20060306., 20110730., 20140704., 20120800.,
       20140620., 20160830., 20140718., 20120910., 20180410., 20120816.,
       20140816., 20140518., 20060122., 20120828., 20111030., 20170326.,
       20060330., 20140122., 20060108., 20050808., 20171220., 20171210.,
       20171212., 20160908., 20171222., 20170332., 20060406., 20171226.,
       20180502., 20170402., 20180106., 20171216., 20170412., 20171232.,
       20171214., 20180416., 20180428., 20171218., 20171224., 20180422.,
       20180504., 20180426., 20170416., 20140730., 20170428., 20140812.,
       20140710., 20171228., 20180508., 20180506., 20180420., 20170414.,
       20180424., 20060312., 20120812., 20170422., 20160818., 20160922.,
       20170406., 20160826., 20180722., 20170400., 20180418., 20160916.,
       20180430., 20160832., 20160822., 20140732., 20160912., 20180500.,
       20140618., 20140802., 20121024., 20160918., 20060902., 20170418.,
       20170410., 20140622., 20140818., 20120924., 20180720., 20140602.,
       20060114., 20140804., 20120826., 20160902., 20120906., 20061116.,
       20120900., 20171230., 20060414., 20140722., 20180110., 20140716.,
       20140600., 20180102., 20180104., 20120912., 20180716., 20140626.,
       20170420., 20140808., 20140728., 20170426., 20120814., 20050914.,
       20180718., 20141028., 20120904., 20170504., 20180804., 20170424.,
       20160920., 20120832., 20060124., 20170508., 20160924., 20160928.,
       20140706., 20120818., 20140112., 20180414., 20180100., 20160910.,
       20120922., 20180724., 20161008., 20060410., 20120902., 20060324.,
       20140726., 20140912., 20060520., 20170430., 20060102., 20120928.,
       20160914., 20140700., 20060216., 20060224., 20121004., 20180726.,
       20060608., 20121016., 20140810., 20180714., 20180112., 20180530.,
       20060824., 20170512., 20170510., 20180116., 20180108., 20170506.,
       20170520., 20180120., 20180124., 20170502., 20180128., 20180118.,
       20161102., 20161004., 20121002., 20161002., 20180604., 20180600.,
       20141108., 20161020., 20180528., 20140908., 20160930., 20121006.,
       20180114., 20170516., 20140828., 20180522., 20161012., 20140832.,
       20180526., 20060516., 20180524., 20161000., 20060428., 20120918.,
       20170524., 20121100., 20161024., 20161026., 20170500., 20161014.,
       20120822., 20120914., 20161124., 20180824., 20050830., 20180820.,
       20121000., 20161028., 20180122., 20140814., 20170526., 20170528.,
       20170514., 20121008., 20161204., 20140822., 20121128., 20180130.,
       20121120., 20060704., 20170604., 20180132., 20161016., 20140714.,
       20180126., 20180818., 20141012., 20170518., 20170600., 20140820.,
       20140914., 20121012., 20180208., 20140800., 20161104., 20180602.,
       20060404., 20140902., 20121116., 20060928., 20140900., 20161006.,
       20120926., 20180202., 20161032., 20161010., 20180204., 20170608.,
       20060512., 20060920., 20180532., 20180612., 20180510., 20180200.,
       20060622., 20121018., 20060610., 20170522., 20060506., 20060712.,
       20180610., 20060424., 20120930., 20161114., 20170606., 20141000.,
       20140910., 20121020., 20180816., 20121028., 20180814., 20140806.,
       20161100., 20140826., 20121010., 20121104., 20180608., 20140904.,
       20060128., 20170612., 20161030., 20060900., 20180206., 20170616.,
       20170602., 20140830., 20121110., 20161212., 20170708., 20170532.,
       20180700., 20161018., 20180628., 20121124., 20161112., 20161200.,
       20180702., 20161106., 20161122., 20170610., 20161108., 20170624.,
       20161222., 20060212., 20161116., 20121112., 20121108., 20141112.,
       20121014., 20141124., 20170614., 20180920., 20140922., 20161120.,
       20161128., 20170620., 20161022., 20180618., 20180306., 20180928.,
       20060318., 20140924., 20180704., 20141026., 20170530., 20180626.,
       20170710., 20170618., 20161110., 20121204., 20180708., 20051210.,
       20141002., 20121022., 20060504., 20140918., 20141004., 20170704.,
       20161126., 20161208., 20060618., 20141010., 20180916., 20161130.,
       20141032., 20141018., 20170628., 20121208., 20140916., 20140928.,
       20141008., 20141104., 20170700., 20130118., 20170712., 20121210.,
       20121106., 20121232., 20180710., 20140930., 20180924., 20050912.,
       20141120., 20161210., 20161118., 20180918., 20060420., 20180706.,
       20051212., 20070428., 20161214., 20140926., 20121102., 20180630.,
       20060724., 20180712., 20121026., 20060228., 20170622., 20170706.,
       20060612., 20140906., 20170626., 20141102., 20170718., 20170702.,
       20140920., 20141014., 20141006., 20161216., 20180922., 20121212.,
       20121114., 20170728., 20180808., 20161224., 20180730., 20170720.,
       20170808., 20141022., 20141128., 20180728., 20121200., 20170716.,
       20170724., 20121216., 20161202., 20170722., 20121032., 20130408.,
       20170726., 20170714., 20121030., 20161230., 20180800., 20121206.,
       20170630., 20141020., 20121126., 20170814., 20060320., 20161206.,
       20141212., 20170816., 20141130., 20170800., 20181022., 20121220.,
       20121122., 20170812., 20161218., 20141116., 20150108., 20121214.,
       20121224., 20170802., 20060710., 20170732., 20170102., 20170804.,
       20141118., 20141016., 20161226., 20170730., 20180732., 20141024.,
       20121226., 20130108., 20141122., 20130106., 20130120., 20130116.,
       20121222., 20121118., 20121130., 20130122., 20181012., 20181100.,
       20121228., 20130102., 20130112., 20141208., 20141030., 20180802.,
       20180806., 20170100., 20061028., 20181026., 20141100., 20170806.,
       20060514., 20060904., 20060524., 20060416.], dtype=float32)

In [34]:
columns = ["RV신청일자"]
df = convert_to_datetime(df, columns)

for col in columns:
    print(df[col].unique())

<DatetimeArray>
[                'NaT', '2017-09-24 00:00:00', '2014-04-16 00:00:00',
 '2012-03-24 00:00:00', '2016-04-24 00:00:00', '2012-03-10 00:00:00',
 '2014-04-08 00:00:00', '2012-04-24 00:00:00', '2018-02-24 00:00:00',
 '2017-10-04 00:00:00',
 ...
 '2014-10-30 00:00:00', '2018-08-02 00:00:00', '2018-08-06 00:00:00',
 '2006-10-28 00:00:00', '2018-10-26 00:00:00', '2017-08-06 00:00:00',
 '2006-05-14 00:00:00', '2006-09-04 00:00:00', '2006-05-24 00:00:00',
 '2006-04-16 00:00:00']
Length: 903, dtype: datetime64[ns]

In [35]:
df.to_parquet(file_path, index=False)

## 승인매출정보

In [36]:
file_name = "tx_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Columns: 406 entries, 기준년월 to 이용금액대
dtypes: category(18), float32(3), int16(110), int32(65), int8(210)
memory usage: 416.5 MB

In [37]:
detect_missing_values(df)

                missing_count  missing_percentage      type
_1순위업종                 136575           22.762500  category
_2순위업종                 231087           38.514500  category
_3순위업종                 279806           46.634333  category
_1순위쇼핑업종               232771           38.795167  category
_2순위쇼핑업종               286358           47.726333  category
_3순위쇼핑업종               330955           55.159167  category
_1순위교통업종               292960           48.826667  category
_2순위교통업종               414730           69.121667  category
_3순위교통업종               510729           85.121500  category
_1순위여유업종               498313           83.052167  category
_2순위여유업종               575821           95.970167  category
_3순위여유업종               594565           99.094167  category
_1순위납부업종               305994           50.999000  category
_2순위납부업종               510271           85.045167  category
_3순위납부업종               578711           96.451833  category
최종카드론_금융상환방식코드         489771           81.628500   float32
최종카드론_신청경로코드           489783           81.630500  category
최종카드론_대출일자             497538           82.923000   float32

In [38]:
df["_1순위업종"].unique().tolist()

['쇼핑', nan, '사교활동', '해외', '납부', '교육', '교통', '의료', '여유생활', '일상생활', '요식']

In [39]:
df["_1순위업종"] = df["_1순위업종"].cat.add_categories('unknown')
df["_1순위업종"] = df["_1순위업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_1순위업종"].unique().tolist()

['쇼핑', 'unknown', '사교활동', '해외', '납부', '교육', '교통', '의료', '여유생활', '일상생활', '요식']

In [40]:
df["_2순위업종"].unique().tolist()

['여유생활', '사교활동', '교통', nan, '쇼핑', '의료', '납부', '교육', '해외', '일상생활', '요식']

In [41]:
df["_2순위업종"] = df["_2순위업종"].cat.add_categories('unknown')
df["_2순위업종"] = df["_2순위업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_2순위업종"].unique().tolist()

['여유생활', '사교활동', '교통', 'unknown', '쇼핑', '의료', '납부', '교육', '해외', '일상생활', '요식']

In [42]:
df["_3순위업종"].unique().tolist()

['교통', '사교활동', nan, '납부', '의료', '쇼핑', '요식', '일상생활', '여유생활', '해외', '교육']

In [73]:
df["_3순위업종"] = df["_3순위업종"].cat.add_categories('unknown')
df["_3순위업종"] = df["_3순위업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_3순위업종"].unique().tolist()

['교통', '사교활동', 'unknown', '납부', '의료', '쇼핑', '요식', '일상생활', '여유생활', '해외', '교육']

In [74]:
df["_1순위쇼핑업종"].unique().tolist()

['온라인', '도소매', nan, '마트', '아울렛', '편의점', '슈퍼마켓', '백화점', '쇼핑기타']

In [75]:
df["_1순위쇼핑업종"] = df["_1순위쇼핑업종"].cat.add_categories('unknown')
df["_1순위쇼핑업종"] = df["_1순위쇼핑업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_1순위쇼핑업종"].unique().tolist()

['온라인', '도소매', 'unknown', '마트', '아울렛', '편의점', '슈퍼마켓', '백화점', '쇼핑기타']

In [76]:
df["_2순위쇼핑업종"].unique().tolist()

['마트', '편의점', 'unknown', '도소매', '슈퍼마켓', '온라인', '백화점', '아울렛', '쇼핑기타']

In [77]:
df["_2순위쇼핑업종"] = df["_2순위쇼핑업종"].cat.add_categories('unknown')
df["_2순위쇼핑업종"] = df["_2순위쇼핑업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_2순위쇼핑업종"].unique().tolist()

ValueError: new categories must not include old categories: {'unknown'}

In [46]:
df["_3순위쇼핑업종"].unique().tolist()

['백화점', '도소매', '슈퍼마켓', nan, '편의점', '마트', '온라인', '아울렛', '쇼핑기타']

In [47]:
df["_3순위쇼핑업종"] = df["_3순위쇼핑업종"].cat.add_categories('unknown')
df["_3순위쇼핑업종"] = df["_3순위쇼핑업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_3순위쇼핑업종"].unique().tolist()

['백화점', '도소매', '슈퍼마켓', 'unknown', '편의점', '마트', '온라인', '아울렛', '쇼핑기타']

In [48]:
df["_1순위교통업종"].unique().tolist()

['주유', '버스지하철', nan, '택시', '철도버스', '정비']

In [49]:
df["_1순위교통업종"] = df["_1순위교통업종"].cat.add_categories('unknown')
df["_1순위교통업종"] = df["_1순위교통업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_1순위교통업종"].unique().tolist()

['주유', '버스지하철', 'unknown', '택시', '철도버스', '정비']

In [50]:
df["_2순위교통업종"].unique().tolist()

['철도버스', nan, '정비', '버스지하철', '택시', '주유', '통행료']

In [51]:
df["_2순위교통업종"] = df["_2순위교통업종"].cat.add_categories('unknown')
df["_2순위교통업종"] = df["_2순위교통업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_2순위교통업종"].unique().tolist()

['철도버스', 'unknown', '정비', '버스지하철', '택시', '주유', '통행료']

In [52]:
df["_3순위교통업종"].unique().tolist()

['버스지하철', nan, '택시', '철도버스', '정비', '통행료']

In [53]:
df["_3순위교통업종"] = df["_3순위교통업종"].cat.add_categories('unknown')
df["_3순위교통업종"] = df["_3순위교통업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_3순위교통업종"].unique().tolist()

['버스지하철', 'unknown', '택시', '철도버스', '정비', '통행료']

In [54]:
df["_1순위여유업종"].unique().tolist()

['항공', '운동', nan, 'Pet', '공연', '여유기타', '숙박', '공원']

In [55]:
df["_1순위여유업종"] = df["_1순위여유업종"].cat.add_categories('unknown')
df["_1순위여유업종"] = df["_1순위여유업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_1순위여유업종"].unique().tolist()

['항공', '운동', 'unknown', 'Pet', '공연', '여유기타', '숙박', '공원']

In [56]:
df["_2순위여유업종"].unique().tolist()

[nan, '숙박', '여유기타', 'Pet', '운동', '공연', '공원']

In [57]:
df["_2순위여유업종"] = df["_2순위여유업종"].cat.add_categories('unknown')
df["_2순위여유업종"] = df["_2순위여유업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_2순위여유업종"].unique().tolist()

['unknown', '숙박', '여유기타', 'Pet', '운동', '공연', '공원']

In [58]:
df["_3순위여유업종"].unique().tolist()

[nan, '여유기타', '공연', '숙박', 'Pet', '공원', '운동']

In [59]:
df["_3순위여유업종"] = df["_3순위여유업종"].cat.add_categories('unknown')
df["_3순위여유업종"] = df["_3순위여유업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_3순위여유업종"].unique().tolist()

['unknown', '여유기타', '공연', '숙박', 'Pet', '공원', '운동']

In [60]:
df["_1순위납부업종"].unique().tolist()

[nan, '통신비', '보험료', '납부기타', '관리비', '가스/전기료']

In [61]:
df["_1순위납부업종"] = df["_1순위납부업종"].cat.add_categories('unknown')
df["_1순위납부업종"] = df["_1순위납부업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_1순위납부업종"].unique().tolist()

['unknown', '통신비', '보험료', '납부기타', '관리비', '가스/전기료']

In [62]:
df["_2순위납부업종"].unique().tolist()

[nan, '보험료', '납부기타', '통신비', '가스/전기료', '관리비']

In [63]:
df["_2순위납부업종"] = df["_2순위납부업종"].cat.add_categories('unknown')
df["_2순위납부업종"] = df["_2순위납부업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_2순위납부업종"].unique().tolist()

['unknown', '보험료', '납부기타', '통신비', '가스/전기료', '관리비']

In [64]:
df["_3순위납부업종"].unique().tolist()

[nan, '납부기타', '가스/전기료', '통신비', '보험료']

In [65]:
df["_3순위납부업종"] = df["_3순위납부업종"].cat.add_categories('unknown')
df["_3순위납부업종"] = df["_3순위납부업종"].fillna('unknown') # inplace는 추천하지 않음.

df["_3순위납부업종"].unique().tolist()

['unknown', '납부기타', '가스/전기료', '통신비', '보험료']

In [81]:
df["최종카드론_금융상환방식코드"].unique().tolist()

[nan, 2.0, 5.0, 3.0]

In [67]:
df["최종카드론_신청경로코드"].unique().tolist()

[nan, '8', '7', '1', 'D', '2']

In [68]:
df["최종카드론_신청경로코드"] = df["최종카드론_신청경로코드"].cat.add_categories('unknown')
df["최종카드론_신청경로코드"] = df["최종카드론_신청경로코드"].fillna('unknown') # inplace는 추천하지 않음.

df["최종카드론_신청경로코드"].unique().tolist()

['unknown', '8', '7', '1', 'D', '2']

In [69]:
df["최종카드론_대출일자"].unique()

array([      nan, 20171108., 20150800., 20150804., 20170628., 20161210.,
       20171202., 20180616., 20160508., 20180308., 20140704., 20180116.,
       20151228., 20161108., 20170928., 20180524., 20180624., 20180326.,
       20150512., 20150808., 20160418., 20171212., 20150218., 20150612.,
       20141224., 20161212., 20141104., 20161224., 20171226., 20151128.,
       20180408., 20151212., 20170712., 20180412., 20180610., 20160924.,
       20160224., 20151220., 20161104., 20150324., 20171210., 20180608.,
       20151028., 20160910., 20150424., 20150226., 20180414., 20161112.,
       20150124., 20140804., 20170612., 20180328., 20150828., 20171016.,
       20170414., 20160908., 20180620., 20180404., 20150408., 20141228.,
       20150728., 20160118., 20141220., 20161124., 20170302., 20150128.,
       20150916., 20160128., 20171118., 20161128., 20161000., 20170212.,
       20141012., 20150722., 20141108., 20180532., 20161004., 20180420.,
       20160720., 20150608., 20171130., 20170128., 20150620., 20170112.,
       20150714., 20150520., 20141102., 20150104., 20150116., 20151120.,
       20171216., 20160804., 20150216., 20171224., 20150208., 20141024.,
       20150302., 20180520., 20171008., 20150416., 20170330., 20150600.,
       20160316., 20170106., 20160512., 20180120., 20180424., 20180512.,
       20150220., 20180516., 20140730., 20150708., 20160218., 20150812.,
       20150726., 20180316., 20151104., 20160624., 20170520., 20180400.,
       20150420., 20180410., 20141112., 20150310., 20170508., 20160228.,
       20140206., 20170512., 20180416., 20150806., 20170130., 20141124.,
       20170424., 20150820., 20150402., 20150626., 20180600., 20150522.,
       20161018., 20180428., 20160126., 20141214., 20151114., 20170620.,
       20151032., 20160108., 20160324., 20150222., 20180406., 20170220.,
       20180504., 20151124., 20161228., 20150224., 20180630., 20180614.,
       20180224., 20150320., 20180606., 20150518., 20150108., 20151006.,
       20141126., 20171124., 20150716., 20160120., 20170310., 20170516.,
       20140920., 20150530., 20150704., 20180320., 20171228., 20161220.,
       20160828., 20170524., 20161016., 20150332., 20140924., 20140718.,
       20150206., 20150824., 20171232., 20150604., 20160330., 20171028.,
       20141120., 20150400., 20161026., 20170216., 20150504., 20180312.,
       20151222., 20170514., 20140806., 20150924., 20161116., 20180330.,
       20140610., 20151102., 20171200., 20150132., 20170312., 20141130.,
       20170108., 20160500., 20171120., 20160308., 20160116., 20180526.,
       20180612., 20180220., 20151002., 20170608., 20180508., 20160730.,
       20141212., 20140912., 20150328., 20150200., 20171026., 20151112.,
       20150906., 20170504., 20150524., 20170716., 20170728., 20150330.,
       20160904., 20180208., 20180332., 20180322., 20141230., 20150910.,
       20171112., 20151218., 20150126., 20150202., 20150508., 20161118.,
       20170408., 20150724., 20160604., 20150822., 20171024., 20180618.,
       20150712., 20160812., 20180604., 20180528., 20180324., 20170924.,
       20180108., 20180206., 20151224., 20140830., 20180216., 20150210.,
       20171030., 20150412., 20180306., 20171204., 20170224., 20150826.,
       20160204., 20151208., 20150616., 20140518., 20170418., 20151210.,
       20150908., 20171126., 20150214., 20171220., 20161216., 20151230.,
       20150920., 20180510., 20180102., 20150904., 20140812., 20180422.,
       20150306., 20160800., 20180304., 20150816., 20150410., 20141216.,
       20180124., 20161024., 20160918., 20141026., 20160404., 20170822.,
       20150418., 20150304., 20180622., 20180418., 20170304., 20141110.,
       20170110., 20160816., 20180502., 20150212., 20150628., 20140828.,
       20180506., 20171230., 20140916., 20170624., 20160130., 20141020.,
       20180402., 20160424., 20151106., 20180628., 20180530., 20151226.,
       20171116., 20160504., 20141016., 20171128., 20141208., 20170814.,
       20180112., 20170122., 20161208., 20170316., 20151100., 20171012.,
       20150308., 20180602., 20140522., 20170904., 20161012., 20170604.,
       20160728., 20140226., 20151008., 20170320., 20171102., 20160328.,
       20150102., 20151012., 20141222., 20151020., 20160520., 20171222.,
       20151216., 20161014., 20160614., 20160402., 20170328., 20151232.,
       20180426., 20141030., 20170926., 20170124., 20171002., 20170808.,
       20170816., 20160302., 20150300., 20160628., 20160602., 20150532.,
       20150112., 20180318., 20160312., 20170606., 20170226., 20170402.,
       20141106., 20151110., 20140720., 20180104., 20170912., 20150900.,
       20150830., 20180518., 20141218., 20161106., 20170708., 20160102.,
       20180514., 20160216., 20160928., 20140422., 20150312., 20150610.,
       20170806., 20150922., 20161008., 20160314., 20140532., 20160524.,
       20180302., 20170430., 20171208., 20150316., 20151116., 20150918.,
       20160320., 20150428., 20150630., 20161230., 20160920., 20150500.,
       20160914., 20180218., 20150514., 20170830., 20180300., 20150314.,
       20170120., 20160200., 20170204., 20160530., 20180522., 20180114.,
       20150624., 20170308., 20160808., 20150818., 20180204., 20170104.,
       20151118., 20171218., 20170602., 20171122., 20160310., 20160124.,
       20160104., 20161122., 20161120., 20160826., 20171010., 20141116.,
       20150928., 20170706., 20160210., 20160926., 20150926., 20140902.,
       20150602., 20141028., 20150404., 20160912., 20160208., 20161006.,
       20151016., 20170502., 20150528., 20160300., 20180212., 20171004.,
       20150912., 20161002., 20160132., 20150406., 20140818., 20150228.,
       20180110., 20161100., 20161130., 20151130., 20140408., 20161226.,
       20180314., 20150706., 20160416., 20160706., 20170416., 20141128.,
       20151014., 20170818., 20140930., 20150718., 20160922., 20171206.,
       20160810., 20170210., 20160526., 20150732., 20141206., 20150100.,
       20171110., 20160820., 20141008., 20170826., 20150516., 20150902.,
       20170820., 20160406., 20180128., 20170522., 20140716., 20160916.,
       20150810., 20160818., 20170828., 20180310., 20151204., 20150526.,
       20151214., 20150720., 20170426., 20171022., 20140516., 20140800.,
       20151024., 20160510., 20170200., 20150120., 20170116., 20140220.,
       20170630., 20150326., 20160528., 20150322., 20151004., 20150914.,
       20150204., 20180126., 20170510., 20150106., 20170132., 20161032.,
       20161204., 20151000., 20160202., 20160220., 20150832., 20150618.,
       20170600., 20170404., 20180430., 20160206., 20151022., 20151206.,
       20170908., 20160726., 20180228., 20151018., 20160716., 20170218.,
       20160318., 20161020., 20180500., 20160428., 20160400., 20141002.,
       20160420., 20141006., 20171020., 20140922., 20170618., 20140620.,
       20160616., 20160426., 20141204., 20140224., 20160700., 20150110.,
       20150510., 20170528., 20170518., 20150118., 20141114., 20150622.,
       20171114., 20140604., 20180626., 20140816., 20140628., 20170126.,
       20160722., 20161028., 20150814., 20140708., 20170916., 20140726.,
       20170420., 20170732., 20140904., 20160824., 20170532., 20151126.,
       20150606., 20160708., 20170412., 20141004., 20140104., 20150318.,
       20161110., 20161232., 20141202., 20141226., 20141018., 20161206.,
       20160212., 20160408., 20160832., 20150506., 20141232., 20150730.,
       20170824., 20171100., 20170930., 20161222., 20160704., 20160902.,
       20171104., 20151202., 20170114., 20141118., 20161214., 20170804.,
       20140524., 20160612., 20160410., 20171214., 20150502., 20170802.,
       20160332., 20170206., 20180714., 20160100., 20160724., 20180214.,
       20170100., 20160112., 20170720., 20161102., 20170832., 20180202.,
       20160600., 20180106., 20180210., 20150700., 20141014., 20160114.,
       20160532., 20180712., 20170700., 20170214., 20171106., 20170208.,
       20150430., 20170324., 20160422., 20160502., 20171032., 20160702.,
       20170318., 20160608., 20170306., 20180118., 20140324., 20140504.,
       20140826., 20150702., 20140900., 20170314., 20170812., 20160110.,
       20161126., 20160122., 20161200., 20140512., 20170428., 20140712.,
       20150426., 20140412., 20170800., 20160322., 20161010., 20140906.,
       20150614., 20150122., 20170724., 20150414., 20140510., 20160514.,
       20161202., 20170714., 20150930., 20140926., 20160304., 20140914.,
       20140602., 20151108., 20170300., 20170202., 20170406., 20180200.,
       20170102., 20140908., 20160900., 20151026., 20141122., 20140810.,
       20160814., 20180130., 20170910., 20150710., 20180226., 20140528.,
       20160620., 20170616., 20180132., 20170704., 20150130., 20170900.,
       20180222., 20170710., 20170326., 20140624., 20170810., 20140824.,
       20160710., 20160226., 20160622., 20141032., 20140622., 20160522.,
       20170322., 20160214., 20160516., 20171006., 20170614., 20140722.,
       20160822., 20150802., 20180100., 20161030., 20160506., 20151200.,
       20180122., 20180718., 20161022., 20161114., 20150114., 20140724.,
       20170222., 20151030., 20141200., 20170918., 20140808., 20140428.,
       20171018., 20150422., 20140700., 20160732., 20140822., 20170526.,
       20140416., 20170530., 20160414., 20141010., 20171014., 20160610.,
       20170228., 20170920., 20151122., 20160326., 20170118., 20140424.,
       20141210., 20170422., 20170702., 20170506., 20171000., 20170610.,
       20160712., 20140606., 20160412., 20140608., 20180716., 20160718.,
       20140420., 20160222., 20170500., 20160806., 20170922., 20160802.,
       20170730., 20170902., 20160306., 20160714., 20170332., 20170726.,
       20160626., 20140304., 20170906., 20140918., 20151010., 20141022.,
       20140212., 20140612., 20160906., 20170722., 20140702., 20140820.,
       20180728., 20160106., 20140530., 20140618., 20140910., 20170622.,
       20160618., 20140310., 20140732., 20161218., 20140616., 20140728.,
       20140630., 20141100., 20140928., 20160518., 20160830., 20140614.,
       20140322., 20140526., 20140300., 20140714., 20140320., 20140832.,
       20160606., 20140508., 20131222., 20180726., 20170410., 20140520.,
       20170914., 20140308., 20170400., 20140200., 20130832., 20170718.,
       20131116., 20140814., 20180730., 20130920., 20180720., 20140426.,
       20140626., 20180708., 20160430., 20140418., 20140108., 20140506.,
       20140328., 20160630., 20160930., 20140410., 20131028., 20170626.,
       20140706., 20130708., 20140318., 20131204., 20140404., 20140502.,
       20140802., 20140514., 20180808., 20180912., 20181212.],
      dtype=float32)

In [79]:
columns = ["최종카드론_대출일자"]
df = convert_to_datetime(df, columns)

for col in columns:
    print(df[col].unique())

<DatetimeArray>
[                'NaT', '2017-11-08 00:00:00', '2015-08-04 00:00:00',
 '2017-06-28 00:00:00', '2016-12-10 00:00:00', '2017-12-02 00:00:00',
 '2018-06-16 00:00:00', '2016-05-08 00:00:00', '2018-03-08 00:00:00',
 '2014-07-04 00:00:00',
 ...
 '2013-07-08 00:00:00', '2014-03-18 00:00:00', '2013-12-04 00:00:00',
 '2014-04-04 00:00:00', '2014-05-02 00:00:00', '2014-08-02 00:00:00',
 '2014-05-14 00:00:00', '2018-08-08 00:00:00', '2018-09-12 00:00:00',
 '2018-12-12 00:00:00']
Length: 790, dtype: datetime64[ns]

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Columns: 406 entries, 기준년월 to 이용금액대
dtypes: category(18), datetime64[ns](1), float32(2), int16(110), int32(65), int8(210)
memory usage: 418.8 MB

In [80]:
detect_missing_values(df)

                missing_count  missing_percentage            type
최종카드론_금융상환방식코드         489771             81.6285         float32
최종카드론_대출일자             503040             83.8400  datetime64[ns]

In [82]:
df.to_parquet(file_path, index=False)

## 청구입금정보

In [83]:
file_name = "bill_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 46 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   기준년월              600000 non-null  int32
 1   ID                600000 non-null  category
 2   대표결제일             600000 non-null  int8
 3   대표결제방법코드          600000 non-null  category
 4   대표청구지고객주소구분코드     600000 non-null  category
 5   대표청구서수령지구분코드      600000 non-null  category
 6   청구서수령방법           600000 non-null  category
 7   청구서발송여부_B0        600000 non-null  int8
 8   청구서발송여부_R3M       600000 non-null  int8
 9   청구서발송여부_R6M       600000 non-null  int8
 10  청구금액_B0           600000 non-null  int32
 11  청구금액_R3M          600000 non-null  int32
 12  청구금액_R6M          600000 non-null  int32
 13  포인트_마일리지_건별_B0M   600000 non-null  int16
 14  포인트_마일리지_건별_R3M   600000 non-null  int16
 15  포인트_포인트_건별_B0M    600000 non-null  int16
 16  포인트_포인트_건별_R3M    600000 non-null  int16
 17  포인트_마일리지_월적립_B0M  600000 non-null  int16
 18  포인트_마일리지_월적립_R3M  600000 non-null  int16
 19  포인트_포인트_월적립_B0M   600000 non-null  int16
 20  포인트_포인트_월적립_R3M   600000 non-null  int32
 21  포인트_적립포인트_R12M    600000 non-null  int32
 22  포인트_적립포인트_R3M     600000 non-null  int32
 23  포인트_이용포인트_R12M    600000 non-null  int32
 24  포인트_이용포인트_R3M     600000 non-null  int32
 25  포인트_잔여포인트_B0M     600000 non-null  int16
 26  마일_적립포인트_R12M     600000 non-null  int32
 27  마일_적립포인트_R3M      600000 non-null  int16
 28  마일_이용포인트_R12M     600000 non-null  int32
 29  마일_이용포인트_R3M      600000 non-null  int16
 30  마일_잔여포인트_B0M      600000 non-null  int16
 31  할인건수_R3M          600000 non-null  category
 32  할인금액_R3M          600000 non-null  int16
 33  할인건수_B0M          600000 non-null  category
 34  할인금액_B0M          600000 non-null  int16
 35  할인금액_청구서_R3M      600000 non-null  int16
 36  할인금액_청구서_B0M      600000 non-null  int16
 37  상환개월수_결제일_R6M     600000 non-null  int8
 38  상환개월수_결제일_R3M     600000 non-null  int8
 39  선결제건수_R6M         600000 non-null  int8
 40  선결제건수_R3M         600000 non-null  int8
 41  연체건수_R6M          600000 non-null  int8
 42  연체건수_R3M          600000 non-null  int8
 43  혜택수혜금액_R3M        600000 non-null  int16
 44  포인트_마일리지_환산_B0M   600000 non-null  int16
 45  혜택수혜금액            600000 non-null  int16
dtypes: category(7), int16(18), int32(11), int8(10)
memory usage: 60.0 MB

In [84]:
detect_missing_values(df)

Empty DataFrame
Columns: [missing_count, missing_percentage, type]
Index: []

## 잔액정보

In [85]:
file_name = "balance_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 82 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   기준년월               600000 non-null  int32
 1   ID                 600000 non-null  category
 2   잔액_일시불_B0M         600000 non-null  int32
 3   잔액_할부_B0M          600000 non-null  int32
 4   잔액_현금서비스_B0M       600000 non-null  int32
 5   잔액_리볼빙일시불이월_B0M    600000 non-null  int32
 6   잔액_리볼빙CA이월_B0M     600000 non-null  int32
 7   잔액_카드론_B0M         600000 non-null  int32
 8   월중평잔_일시불_B0M       600000 non-null  int32
 9   월중평잔_할부_B0M        600000 non-null  int32
 10  월중평잔_CA_B0M        600000 non-null  int32
 11  카드론잔액_최종경과월        600000 non-null  int8
 12  연체일자_B0M           1395 non-null    float32
 13  연체잔액_B0M           600000 non-null  int32
 14  연체잔액_일시불_B0M       600000 non-null  int16
 15  연체잔액_할부_B0M        600000 non-null  int16
 16  연체잔액_현금서비스_B0M     600000 non-null  int16
 17  연체잔액_카드론_B0M       600000 non-null  int16
 18  연체잔액_대환론_B0M       600000 non-null  int8
 19  잔액_현금서비스_B1M       600000 non-null  int32
 20  잔액_현금서비스_B2M       600000 non-null  int32
 21  잔액_카드론_B1M         600000 non-null  int32
 22  잔액_카드론_B2M         600000 non-null  int32
 23  잔액_카드론_B3M         600000 non-null  int32
 24  잔액_카드론_B4M         600000 non-null  int32
 25  잔액_카드론_B5M         600000 non-null  int32
 26  잔액_할부_B1M          600000 non-null  int32
 27  잔액_할부_B2M          600000 non-null  int32
 28  잔액_일시불_B1M         600000 non-null  int32
 29  잔액_일시불_B2M         600000 non-null  int32
 30  연체일수_B1M           600000 non-null  int32
 31  연체일수_B2M           600000 non-null  int32
 32  연체원금_B1M           600000 non-null  int16
 33  연체원금_B2M           600000 non-null  int16
 34  연체일수_최근            600000 non-null  int32
 35  연체원금_최근            600000 non-null  int16
 36  최종연체회차             600000 non-null  int8
 37  매각잔액_B1M           600000 non-null  int8
 38  최종연체개월수_R15M       600000 non-null  int8
 39  RV_평균잔액_R12M       600000 non-null  int32
 40  RV_최대잔액_R12M       600000 non-null  int32
 41  RV_평균잔액_R6M        600000 non-null  int32
 42  RV_최대잔액_R6M        600000 non-null  int32
 43  RV_평균잔액_R3M        600000 non-null  int32
 44  RV_최대잔액_R3M        600000 non-null  int32
 45  RV잔액이월횟수_R6M       600000 non-null  int8
 46  RV잔액이월횟수_R3M       600000 non-null  int8
 47  잔액_할부_유이자_B0M      600000 non-null  int32
 48  잔액_할부_무이자_B0M      600000 non-null  int32
 49  잔액_할부_해외_B0M       600000 non-null  int16
 50  연체잔액_일시불_해외_B0M    600000 non-null  int8
 51  연체잔액_RV일시불_B0M     600000 non-null  int16
 52  연체잔액_RV일시불_해외_B0M  600000 non-null  int8
 53  연체잔액_할부_해외_B0M     600000 non-null  int8
 54  연체잔액_CA_B0M        600000 non-null  int16
 55  연체잔액_CA_해외_B0M     600000 non-null  int8
 56  월중평잔               600000 non-null  int32
 57  월중평잔_일시불           600000 non-null  int32
 58  월중평잔_RV일시불         600000 non-null  int32
 59  월중평잔_할부            600000 non-null  int32
 60  월중평잔_CA            600000 non-null  int32
 61  월중평잔_카드론           600000 non-null  int32
 62  평잔_3M              600000 non-null  int32
 63  평잔_일시불_3M          600000 non-null  int32
 64  평잔_일시불_해외_3M       600000 non-null  int16
 65  평잔_RV일시불_3M        600000 non-null  int32
 66  평잔_RV일시불_해외_3M     600000 non-null  int16
 67  평잔_할부_3M           600000 non-null  int32
 68  평잔_할부_해외_3M        600000 non-null  int16
 69  평잔_CA_3M           600000 non-null  int32
 70  평잔_CA_해외_3M        600000 non-null  int16
 71  평잔_카드론_3M          600000 non-null  int32
 72  평잔_6M              600000 non-null  int32
 73  평잔_일시불_6M          600000 non-null  int32
 74  평잔_일시불_해외_6M       600000 non-null  int16
 75  평잔_RV일시불_6M        600000 non-null  int32
 76  평잔_RV일시불_해외_6M     600000 non-null  int16
 77  평잔_할부_6M           600000 non-null  int32
 78  평잔_할부_해외_6M        600000 non-null  int16
 79  평잔_CA_6M           600000 non-null  int32
 80  평잔_CA_해외_6M        600000 non-null  int16
 81  평잔_카드론_6M          600000 non-null  int32
dtypes: category(1), float32(1), int16(18), int32(51), int8(11)
memory usage: 151.0 MB

In [86]:
detect_missing_values(df)

          missing_count  missing_percentage     type
연체일자_B0M         598605             99.7675  float32

In [87]:
df["연체일자_B0M"].unique()

array([      nan, 20180424., 20180504., 20180422., 20180520., 20180428.,
       20180506., 20180420., 20180416., 20180510., 20180502., 20180524.,
       20180508., 20180426., 20180514., 20180412., 20180500., 20180512.,
       20180516., 20180414., 20180430., 20180418., 20180518., 20180528.,
       20180410., 20180408., 20180522., 20180526., 20180608., 20180604.,
       20180616., 20180532., 20180600., 20180610., 20180620., 20180612.,
       20180606., 20180618., 20180530., 20180614., 20180602., 20180622.,
       20180628., 20180704., 20180624., 20180700., 20180714., 20180712.,
       20180708., 20180706., 20180702., 20180720., 20180710., 20180716.,
       20180626., 20180630., 20180730., 20180726., 20180804., 20180728.,
       20180722., 20180812., 20180724., 20180732., 20180808., 20180816.,
       20180806., 20180718., 20180802., 20180800., 20180820., 20180822.,
       20180818., 20180810., 20180814., 20180904., 20180828., 20180824.,
       20180912., 20180826., 20180832., 20180920., 20180908., 20180902.,
       20180830., 20180918., 20180906., 20180916., 20180914., 20180910.,
       20180900., 20181004., 20180926., 20180928., 20180924., 20181014.,
       20181016., 20181020., 20181000., 20181012., 20181002., 20180930.,
       20181018., 20181010., 20180922., 20181006., 20181008.],
      dtype=float32)

In [88]:
columns = ["연체일자_B0M"]
df = convert_to_datetime(df, columns)

for col in columns:
    print(df[col].unique())

<DatetimeArray>
[                'NaT', '2018-04-24 00:00:00', '2018-05-04 00:00:00',
 '2018-04-22 00:00:00', '2018-05-20 00:00:00', '2018-04-28 00:00:00',
 '2018-05-06 00:00:00', '2018-04-20 00:00:00', '2018-04-16 00:00:00',
 '2018-05-10 00:00:00', '2018-05-02 00:00:00', '2018-05-24 00:00:00',
 '2018-05-08 00:00:00', '2018-04-26 00:00:00', '2018-05-14 00:00:00',
 '2018-04-12 00:00:00', '2018-05-12 00:00:00', '2018-05-16 00:00:00',
 '2018-04-14 00:00:00', '2018-04-30 00:00:00', '2018-04-18 00:00:00',
 '2018-05-18 00:00:00', '2018-05-28 00:00:00', '2018-04-10 00:00:00',
 '2018-04-08 00:00:00', '2018-05-22 00:00:00', '2018-05-26 00:00:00',
 '2018-06-08 00:00:00', '2018-06-04 00:00:00', '2018-06-16 00:00:00',
 '2018-06-10 00:00:00', '2018-06-20 00:00:00', '2018-06-12 00:00:00',
 '2018-06-06 00:00:00', '2018-06-18 00:00:00', '2018-05-30 00:00:00',
 '2018-06-14 00:00:00', '2018-06-02 00:00:00', '2018-06-22 00:00:00',
 '2018-06-28 00:00:00', '2018-07-04 00:00:00', '2018-06-24 00:00:00',
 '2018-07-14 00:00:00', '2018-07-12 00:00:00', '2018-07-08 00:00:00',
 '2018-07-06 00:00:00', '2018-07-02 00:00:00', '2018-07-20 00:00:00',
 '2018-07-10 00:00:00', '2018-07-16 00:00:00', '2018-06-26 00:00:00',
 '2018-06-30 00:00:00', '2018-07-30 00:00:00', '2018-07-26 00:00:00',
 '2018-08-04 00:00:00', '2018-07-28 00:00:00', '2018-07-22 00:00:00',
 '2018-08-12 00:00:00', '2018-07-24 00:00:00', '2018-08-08 00:00:00',
 '2018-08-16 00:00:00', '2018-08-06 00:00:00', '2018-07-18 00:00:00',
 '2018-08-02 00:00:00', '2018-08-20 00:00:00', '2018-08-22 00:00:00',
 '2018-08-18 00:00:00', '2018-08-10 00:00:00', '2018-08-14 00:00:00',
 '2018-09-04 00:00:00', '2018-08-28 00:00:00', '2018-08-24 00:00:00',
 '2018-09-12 00:00:00', '2018-08-26 00:00:00', '2018-09-20 00:00:00',
 '2018-09-08 00:00:00', '2018-09-02 00:00:00', '2018-08-30 00:00:00',
 '2018-09-18 00:00:00', '2018-09-06 00:00:00', '2018-09-16 00:00:00',
 '2018-09-14 00:00:00', '2018-09-10 00:00:00', '2018-10-04 00:00:00',
 '2018-09-26 00:00:00', '2018-09-28 00:00:00', '2018-09-24 00:00:00',
 '2018-10-14 00:00:00', '2018-10-16 00:00:00', '2018-10-20 00:00:00',
 '2018-10-12 00:00:00', '2018-10-02 00:00:00', '2018-09-30 00:00:00',
 '2018-10-18 00:00:00', '2018-10-10 00:00:00', '2018-09-22 00:00:00',
 '2018-10-06 00:00:00', '2018-10-08 00:00:00']
Length: 98, dtype: datetime64[ns]

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 82 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   기준년월               600000 non-null  int32
 1   ID                 600000 non-null  category
 2   잔액_일시불_B0M         600000 non-null  int32
 3   잔액_할부_B0M          600000 non-null  int32
 4   잔액_현금서비스_B0M       600000 non-null  int32
 5   잔액_리볼빙일시불이월_B0M    600000 non-null  int32
 6   잔액_리볼빙CA이월_B0M     600000 non-null  int32
 7   잔액_카드론_B0M         600000 non-null  int32
 8   월중평잔_일시불_B0M       600000 non-null  int32
 9   월중평잔_할부_B0M        600000 non-null  int32
 10  월중평잔_CA_B0M        600000 non-null  int32
 11  카드론잔액_최종경과월        600000 non-null  int8
 12  연체일자_B0M           1348 non-null    datetime64[ns]
 13  연체잔액_B0M           600000 non-null  int32
 14  연체잔액_일시불_B0M       600000 non-null  int16
 15  연체잔액_할부_B0M        600000 non-null  int16
 16  연체잔액_현금서비스_B0M     600000 non-null  int16
 17  연체잔액_카드론_B0M       600000 non-null  int16
 18  연체잔액_대환론_B0M       600000 non-null  int8
 19  잔액_현금서비스_B1M       600000 non-null  int32
 20  잔액_현금서비스_B2M       600000 non-null  int32
 21  잔액_카드론_B1M         600000 non-null  int32
 22  잔액_카드론_B2M         600000 non-null  int32
 23  잔액_카드론_B3M         600000 non-null  int32
 24  잔액_카드론_B4M         600000 non-null  int32
 25  잔액_카드론_B5M         600000 non-null  int32
 26  잔액_할부_B1M          600000 non-null  int32
 27  잔액_할부_B2M          600000 non-null  int32
 28  잔액_일시불_B1M         600000 non-null  int32
 29  잔액_일시불_B2M         600000 non-null  int32
 30  연체일수_B1M           600000 non-null  int32
 31  연체일수_B2M           600000 non-null  int32
 32  연체원금_B1M           600000 non-null  int16
 33  연체원금_B2M           600000 non-null  int16
 34  연체일수_최근            600000 non-null  int32
 35  연체원금_최근            600000 non-null  int16
 36  최종연체회차             600000 non-null  int8
 37  매각잔액_B1M           600000 non-null  int8
 38  최종연체개월수_R15M       600000 non-null  int8
 39  RV_평균잔액_R12M       600000 non-null  int32
 40  RV_최대잔액_R12M       600000 non-null  int32
 41  RV_평균잔액_R6M        600000 non-null  int32
 42  RV_최대잔액_R6M        600000 non-null  int32
 43  RV_평균잔액_R3M        600000 non-null  int32
 44  RV_최대잔액_R3M        600000 non-null  int32
 45  RV잔액이월횟수_R6M       600000 non-null  int8
 46  RV잔액이월횟수_R3M       600000 non-null  int8
 47  잔액_할부_유이자_B0M      600000 non-null  int32
 48  잔액_할부_무이자_B0M      600000 non-null  int32
 49  잔액_할부_해외_B0M       600000 non-null  int16
 50  연체잔액_일시불_해외_B0M    600000 non-null  int8
 51  연체잔액_RV일시불_B0M     600000 non-null  int16
 52  연체잔액_RV일시불_해외_B0M  600000 non-null  int8
 53  연체잔액_할부_해외_B0M     600000 non-null  int8
 54  연체잔액_CA_B0M        600000 non-null  int16
 55  연체잔액_CA_해외_B0M     600000 non-null  int8
 56  월중평잔               600000 non-null  int32
 57  월중평잔_일시불           600000 non-null  int32
 58  월중평잔_RV일시불         600000 non-null  int32
 59  월중평잔_할부            600000 non-null  int32
 60  월중평잔_CA            600000 non-null  int32
 61  월중평잔_카드론           600000 non-null  int32
 62  평잔_3M              600000 non-null  int32
 63  평잔_일시불_3M          600000 non-null  int32
 64  평잔_일시불_해외_3M       600000 non-null  int16
 65  평잔_RV일시불_3M        600000 non-null  int32
 66  평잔_RV일시불_해외_3M     600000 non-null  int16
 67  평잔_할부_3M           600000 non-null  int32
 68  평잔_할부_해외_3M        600000 non-null  int16
 69  평잔_CA_3M           600000 non-null  int32
 70  평잔_CA_해외_3M        600000 non-null  int16
 71  평잔_카드론_3M          600000 non-null  int32
 72  평잔_6M              600000 non-null  int32
 73  평잔_일시불_6M          600000 non-null  int32
 74  평잔_일시불_해외_6M       600000 non-null  int16
 75  평잔_RV일시불_6M        600000 non-null  int32
 76  평잔_RV일시불_해외_6M     600000 non-null  int16
 77  평잔_할부_6M           600000 non-null  int32
 78  평잔_할부_해외_6M        600000 non-null  int16
 79  평잔_CA_6M           600000 non-null  int32
 80  평잔_CA_해외_6M        600000 non-null  int16
 81  평잔_카드론_6M          600000 non-null  int32
dtypes: category(1), datetime64[ns](1), int16(18), int32(51), int8(11)
memory usage: 153.3 MB

In [90]:
df.to_parquet(file_path, index=False)

## 채널정보

In [91]:
file_name = "channel_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Columns: 105 entries, 기준년월 to 홈페이지_선결제건수_R3M
dtypes: category(7), int16(1), int32(1), int8(96)
memory usage: 66.9 MB

In [92]:
detect_missing_values(df)

        missing_count  missing_percentage      type
OS구분코드         407652              67.942  category

In [93]:
df["OS구분코드"].unique()

['IOS', 'Android', NaN]
Categories (2, object): ['Android', 'IOS']

In [94]:
df["OS구분코드"] = df["OS구분코드"].cat.add_categories('unknown')
df["OS구분코드"] = df["OS구분코드"].fillna('unknown') # inplace는 추천하지 않음.

df["OS구분코드"].unique()

['IOS', 'Android', 'unknown']
Categories (3, object): ['Android', 'IOS', 'unknown']

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Columns: 105 entries, 기준년월 to 홈페이지_선결제건수_R3M
dtypes: category(7), int16(1), int32(1), int8(96)
memory usage: 66.9 MB

In [96]:
df.to_parquet(file_path, index=False)

## 마케팅정보

In [97]:
file_name = "mkt_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 64 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   기준년월               600000 non-null  int32
 1   ID                 600000 non-null  category
 2   컨택건수_카드론_TM_B0M    600000 non-null  int8
 3   컨택건수_리볼빙_TM_B0M    600000 non-null  int8
 4   컨택건수_CA_TM_B0M     600000 non-null  int8
 5   컨택건수_이용유도_TM_B0M   600000 non-null  int8
 6   컨택건수_신용발급_TM_B0M   600000 non-null  int8
 7   컨택건수_부대서비스_TM_B0M  600000 non-null  int8
 8   컨택건수_포인트소진_TM_B0M  600000 non-null  int8
 9   컨택건수_보험_TM_B0M     600000 non-null  int8
 10  컨택건수_카드론_LMS_B0M   600000 non-null  int8
 11  컨택건수_CA_LMS_B0M    600000 non-null  int8
 12  컨택건수_리볼빙_LMS_B0M   600000 non-null  int8
 13  컨택건수_이용유도_LMS_B0M  600000 non-null  int8
 14  컨택건수_카드론_EM_B0M    600000 non-null  int8
 15  컨택건수_CA_EM_B0M     600000 non-null  int8
 16  컨택건수_리볼빙_EM_B0M    600000 non-null  int8
 17  컨택건수_이용유도_EM_B0M   600000 non-null  int8
 18  컨택건수_카드론_청구서_B0M   600000 non-null  int8
 19  컨택건수_CA_청구서_B0M    600000 non-null  int8
 20  컨택건수_리볼빙_청구서_B0M   600000 non-null  int8
 21  컨택건수_이용유도_청구서_B0M  600000 non-null  int8
 22  컨택건수_카드론_인터넷_B0M   600000 non-null  int8
 23  컨택건수_CA_인터넷_B0M    600000 non-null  int8
 24  컨택건수_리볼빙_인터넷_B0M   600000 non-null  int8
 25  컨택건수_이용유도_인터넷_B0M  600000 non-null  int8
 26  컨택건수_카드론_당사앱_B0M   600000 non-null  int8
 27  컨택건수_CA_당사앱_B0M    600000 non-null  int8
 28  컨택건수_리볼빙_당사앱_B0M   600000 non-null  int8
 29  컨택건수_이용유도_당사앱_B0M  600000 non-null  int8
 30  컨택건수_카드론_TM_R6M    600000 non-null  int8
 31  컨택건수_CA_TM_R6M     600000 non-null  int8
 32  컨택건수_리볼빙_TM_R6M    600000 non-null  int8
 33  컨택건수_이용유도_TM_R6M   600000 non-null  int8
 34  컨택건수_신용발급_TM_R6M   600000 non-null  int8
 35  컨택건수_부대서비스_TM_R6M  600000 non-null  int8
 36  컨택건수_포인트소진_TM_R6M  600000 non-null  int8
 37  컨택건수_보험_TM_R6M     600000 non-null  int8
 38  컨택건수_카드론_LMS_R6M   600000 non-null  int8
 39  컨택건수_CA_LMS_R6M    600000 non-null  int8
 40  컨택건수_리볼빙_LMS_R6M   600000 non-null  int8
 41  컨택건수_이용유도_LMS_R6M  600000 non-null  int8
 42  컨택건수_카드론_EM_R6M    600000 non-null  int8
 43  컨택건수_CA_EM_R6M     600000 non-null  int8
 44  컨택건수_리볼빙_EM_R6M    600000 non-null  int8
 45  컨택건수_이용유도_EM_R6M   600000 non-null  int8
 46  컨택건수_카드론_청구서_R6M   600000 non-null  int8
 47  컨택건수_CA_청구서_R6M    600000 non-null  int8
 48  컨택건수_리볼빙_청구서_R6M   600000 non-null  int8
 49  컨택건수_이용유도_청구서_R6M  600000 non-null  int8
 50  컨택건수_카드론_인터넷_R6M   600000 non-null  int8
 51  컨택건수_CA_인터넷_R6M    600000 non-null  int8
 52  컨택건수_리볼빙_인터넷_R6M   600000 non-null  int8
 53  컨택건수_이용유도_인터넷_R6M  600000 non-null  int8
 54  컨택건수_카드론_당사앱_R6M   600000 non-null  int8
 55  컨택건수_CA_당사앱_R6M    600000 non-null  int8
 56  컨택건수_리볼빙_당사앱_R6M   600000 non-null  int8
 57  컨택건수_이용유도_당사앱_R6M  600000 non-null  int8
 58  컨택건수_채권_B0M        600000 non-null  int8
 59  컨택건수_FDS_B0M       600000 non-null  int8
 60  컨택건수_채권_R6M        600000 non-null  int8
 61  컨택건수_FDS_R6M       600000 non-null  int8
 62  캠페인접촉건수_R12M       600000 non-null  category
 63  캠페인접촉일수_R12M       600000 non-null  category
dtypes: category(3), int32(1), int8(60)
memory usage: 42.8 MB

In [98]:
detect_missing_values(df)

Empty DataFrame
Columns: [missing_count, missing_percentage, type]
Index: []

## 성과정보

In [99]:
file_name = "perf_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   기준년월                600000 non-null  int32
 1   ID                  600000 non-null  category
 2   증감율_이용건수_신용_전월      600000 non-null  float32
 3   증감율_이용건수_신판_전월      600000 non-null  float32
 4   증감율_이용건수_일시불_전월     600000 non-null  float32
 5   증감율_이용건수_할부_전월      600000 non-null  float32
 6   증감율_이용건수_CA_전월      600000 non-null  float32
 7   증감율_이용건수_체크_전월      600000 non-null  float32
 8   증감율_이용건수_카드론_전월     600000 non-null  float32
 9   증감율_이용금액_신용_전월      600000 non-null  float32
 10  증감율_이용금액_신판_전월      600000 non-null  float32
 11  증감율_이용금액_일시불_전월     600000 non-null  float32
 12  증감율_이용금액_할부_전월      600000 non-null  float32
 13  증감율_이용금액_CA_전월      600000 non-null  float32
 14  증감율_이용금액_체크_전월      600000 non-null  float32
 15  증감율_이용금액_카드론_전월     600000 non-null  float32
 16  증감율_이용건수_신용_분기      600000 non-null  float32
 17  증감율_이용건수_신판_분기      600000 non-null  float32
 18  증감율_이용건수_일시불_분기     600000 non-null  float32
 19  증감율_이용건수_할부_분기      600000 non-null  float32
 20  증감율_이용건수_CA_분기      600000 non-null  float32
 21  증감율_이용건수_체크_분기      600000 non-null  float32
 22  증감율_이용건수_카드론_분기     600000 non-null  float32
 23  증감율_이용금액_신용_분기      600000 non-null  float32
 24  증감율_이용금액_신판_분기      600000 non-null  float32
 25  증감율_이용금액_일시불_분기     600000 non-null  float32
 26  증감율_이용금액_할부_분기      600000 non-null  float32
 27  증감율_이용금액_CA_분기      600000 non-null  float32
 28  증감율_이용금액_체크_분기      600000 non-null  float32
 29  증감율_이용금액_카드론_분기     600000 non-null  float32
 30  잔액_신판평균한도소진율_r6m    600000 non-null  float32
 31  잔액_신판최대한도소진율_r6m    600000 non-null  float32
 32  잔액_신판평균한도소진율_r3m    600000 non-null  float32
 33  잔액_신판최대한도소진율_r3m    600000 non-null  float32
 34  잔액_신판ca평균한도소진율_r6m  600000 non-null  float32
 35  잔액_신판ca최대한도소진율_r6m  600000 non-null  float32
 36  잔액_신판ca평균한도소진율_r3m  600000 non-null  float32
 37  잔액_신판ca최대한도소진율_r3m  600000 non-null  float32
 38  변동률_일시불평잔           600000 non-null  float32
 39  변동률_RV일시불평잔         600000 non-null  float32
 40  변동률_할부평잔            600000 non-null  float32
 41  변동률_CA평잔            600000 non-null  float32
 42  변동률_RVCA평잔          600000 non-null  float32
 43  변동률_카드론평잔           600000 non-null  float32
 44  변동률_잔액_B1M          600000 non-null  float32
 45  변동률_잔액_일시불_B1M      600000 non-null  float32
 46  변동률_잔액_CA_B1M       600000 non-null  float32
 47  혜택수혜율_R3M           476285 non-null  float32
 48  혜택수혜율_B0M           459204 non-null  float32
dtypes: category(1), float32(47), int32(1)
memory usage: 114.9 MB

In [100]:
detect_missing_values(df)

           missing_count  missing_percentage     type
혜택수혜율_R3M         123715           20.619167  float32
혜택수혜율_B0M         140796           23.466000  float32

In [101]:
df["혜택수혜율_R3M"].unique()

array([ 1.3327699 ,  0.        ,  4.123738  , ...,  3.6863422 ,
        8.564683  , -0.24152997], dtype=float32)

In [102]:
df["혜택수혜율_R3M"].describe()

count    476285.000000
mean          4.839880
std          18.444223
min          -2.200005
25%           0.000000
50%           0.765533
75%           2.196505
max          99.999802
Name: 혜택수혜율_R3M, dtype: float64

- 최소값: -2.35 (음수 값이 존재)
- 25% 분위수: 0
- 50% 분위수 (중앙값): 0.76
- 75% 분위수: 2.19
- 최대값: 99.99
- **평균이 약 4.76이고, 표준편차는 18.24로 상당히 큼**
    - 평균에 영향을 덜 받는 중앙값으로 결측치 대체

In [103]:
median_value = df["혜택수혜율_R3M"].median()
df["혜택수혜율_R3M"] = df["혜택수혜율_R3M"].fillna(median_value) # inplace는 추천하지 않음.
df["혜택수혜율_R3M"].isnull().sum()

np.int64(0)

In [104]:
df["혜택수혜율_B0M"].unique()

array([ 1.780392  ,  0.        ,  5.1155887 , ...,  4.732311  ,
       11.379632  ,  0.49907917], dtype=float32)

In [105]:
df["혜택수혜율_B0M"].describe()

count    459204.000000
mean          5.637671
std          19.878920
min          -1.947862
25%           0.000000
50%           0.993765
75%           2.677982
max          99.999802
Name: 혜택수혜율_B0M, dtype: float64

In [106]:
median_value = df["혜택수혜율_B0M"].median()
df["혜택수혜율_B0M"] = df["혜택수혜율_B0M"].fillna(median_value) # inplace는 추천하지 않음.
df["혜택수혜율_B0M"].isnull().sum()

np.int64(0)

In [107]:
df.to_parquet(file_path, index=False)

# Feature Engineering

- 불필요한 column을 전처리하여 데이터 크기 감소

In [156]:
def optimize_dataframe(df):
    # 정수형 데이터 최적화
    for col in df.select_dtypes(include=["int64"]).columns:
        min_val, max_val = df[col].min(), df[col].max()
        if min_val >= -128 and max_val <= 127:
            df[col] = df[col].astype("int8")
        elif min_val >= -32768 and max_val <= 32767:
            df[col] = df[col].astype("int16")
        elif min_val >= -2147483648 and max_val <= 2147483647:
            df[col] = df[col].astype("int32")

    # 실수형 데이터 최적화
    for col in df.select_dtypes(include=["float64"]).columns:
        df[col] = df[col].astype("float32")

    # 문자열 데이터 최적화
    for col in df.select_dtypes(include=["object"]).columns:
        df[col] = df[col].astype("category")

    return df

## 회원정보

### Label Encoding

In [120]:
from sklearn.preprocessing import LabelEncoder

file_name = "member_optimized.parquet"
save_path = "../dataset/train/merged_optimized"
file_path = os.path.join(save_path, file_name)
df = pd.read_parquet(file_path)

label_columns = ["남녀구분코드", "가입통신회사코드", "거주시도명", "직장시도명", "Life_Stage"]

# 각 컬럼별로 LabelEncoder 적용
label_encoders = {}
for col in label_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col].astype(str))  # 결측치나 숫자형을 string으로 변환해 안전하게 처리
    label_encoders[col] = le  # 나중에 test set에도 동일한 인코딩 적용할 수 있도록 저장


print("✅ Label Encoding 완료:")
df[label_columns].head()

✅ Label Encoding 완료:

   남녀구분코드  가입통신회사코드  거주시도명  직장시도명  Life_Stage
0       1         1      8      9           5
1       0         0      1      2           4
2       0         2      8      9           6
3       1         1      7      8           5
4       1         0      4      5           4

In [ ]:
# Test
save_path = "../dataset/test/merged_optimized"
df = pd.read_parquet(os.path.join(save_path, file_name))
for col in label_columns:
    df[col] = label_encoders[col].transform(df[col].astype(str))  # test set에도 동일한 인코딩 적용

print("✅ Test set Label Encoding 완료:")
print(df[label_columns].head())

df.to_parquet(os.path.join(save_path, file_name), index=False)

### Column 통합
- 같은 범주의 Column은 총합 혹은 하나의 컬럼으로 통합

In [121]:
# 카드 개수 통합
df["유효카드수_전체"] = (
    df["유효카드수_신용체크"] + df["유효카드수_신용"] + df["유효카드수_신용_가족"] +
    df["유효카드수_체크"] + df["유효카드수_체크_가족"]
)

df["이용가능카드수_전체"] = (
    df["이용가능카드수_신용체크"] + df["이용가능카드수_신용"] +
    df["이용가능카드수_신용_가족"] + df["이용가능카드수_체크"] + df["이용가능카드수_체크_가족"]
)

df["이용카드수_전체"] = (
    df["이용카드수_신용체크"] + df["이용카드수_신용"] + df["이용카드수_신용_가족"] +
    df["이용카드수_체크"] + df["이용카드수_체크_가족"]
)

# 카드 이용 금액 통합
df["이용금액_R3M_총합"] = (
    df["이용금액_R3M_신용체크"] + df["이용금액_R3M_신용"] +
    df["이용금액_R3M_신용_가족"] + df["이용금액_R3M_체크"] +
    df["이용금액_R3M_체크_가족"]
)

target1 = [
    "유효카드수_신용체크", "유효카드수_신용", "유효카드수_신용_가족", "유효카드수_체크", "유효카드수_체크_가족",
    "이용가능카드수_신용체크", "이용가능카드수_신용", "이용가능카드수_신용_가족", "이용가능카드수_체크", "이용가능카드수_체크_가족",
    "이용카드수_신용체크", "이용카드수_신용", "이용카드수_신용_가족", "이용카드수_체크", "이용카드수_체크_가족",
    "이용금액_R3M_신용체크", "이용금액_R3M_신용", "이용금액_R3M_신용_가족", "이용금액_R3M_체크", "이용금액_R3M_체크_가족",
]

# 연회비 통합
df["총연회비_B0M"] = df["기본연회비_B0M"] + df["제휴연회비_B0M"]
df["총할인금액_B0M"] = df["할인금액_기본연회비_B0M"] + df["할인금액_제휴연회비_B0M"]
df["총청구연회비_B0M"] = df["청구금액_기본연회비_B0M"] + df["청구금액_제휴연회비_B0M"]

target2 = [
    "기본연회비_B0M", "제휴연회비_B0M",
    "할인금액_기본연회비_B0M", "할인금액_제휴연회비_B0M",
    "청구금액_기본연회비_B0M", "청구금액_제휴연회비_B0M",
]

# 회원 이탈 경향 Feature
# 탈회 비율 (입회 경과 기간에 대한 탈회 빈도)
df["탈회비율"] = df["탈회횟수_누적"] / (df["입회경과개월수_신용"] + 1)

target3 = [
    "탈회횟수_누적", "입회경과개월수_신용",
]

# 최근 카드 발급 후 시간 비율
df["카드발급후경과비율"] = df["최종카드발급경과월"] / (df["입회경과개월수_신용"] + 1)

target4 = ["최종카드발급경과월"]

# 우선순위 카드 집중도
# 1순위 카드와 2순위 카드 금액 차이
df["주이용카드_금액차"] = df["_1순위카드이용금액"] - df["_2순위카드이용금액"]
df["주이용카드_건수차"] = df["_1순위카드이용건수"] - df["_2순위카드이용건수"]

target5 = ["_1순위카드이용금액", "_2순위카드이용금액", "_1순위카드이용건수", "_2순위카드이용건수"]

drop_columns = target1 + target2 + target3 + target4 + target5
df = df.drop(columns=drop_columns)

In [122]:
df.info()

file_path = os.path.join(save_path, file_name)
df.to_parquet(file_path, index=False)
print(f"{file_path} 저장 완료")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 56 columns):
 #   Column              Dtype
---  ------              -----
 0   기준년월                int32
 1   ID                  category
 2   남녀구분코드              int64
 3   연령                  category
 4   Segment             category
 5   회원여부_이용가능           int8
 6   회원여부_이용가능_CA        int8
 7   회원여부_이용가능_카드론       int8
 8   소지여부_신용             int8
 9   소지카드수_유효_신용         int8
 10  소지카드수_이용가능_신용       int8
 11  입회일자_신용             int32
 12  회원여부_연체             int8
 13  이용거절여부_카드론          int8
 14  동의여부_한도증액안내         int8
 15  수신거부여부_TM           int8
 16  수신거부여부_DM           int8
 17  수신거부여부_메일           int8
 18  수신거부여부_SMS          int8
 19  가입통신회사코드            int64
 20  최종탈회후경과월            int8
 21  탈회횟수_발급6개월이내        int8
 22  탈회횟수_발급1년이내         int8
 23  거주시도명               int64
 24  직장시도명               int64
 25  마케팅동의여부             int8
 26  _1순위신용체크구분          category
 27  _2순위신용체크구분          category
 28  최종유효년월_신용_이용가능      datetime64[ns]
 29  최종유효년월_신용_이용        datetime64[ns]
 30  최종카드발급일자            datetime64[ns]
 31  보유여부_해외겸용_본인        int8
 32  이용가능여부_해외겸용_본인      int8
 33  이용여부_3M_해외겸용_본인     int8
 34  보유여부_해외겸용_신용_본인     int8
 35  이용가능여부_해외겸용_신용_본인   int8
 36  이용여부_3M_해외겸용_신용_본인  int8
 37  연회비발생카드수_B0M        category
 38  연회비할인카드수_B0M        int8
 39  상품관련면제카드수_B0M       category
 40  임직원면제카드수_B0M        category
 41  우수회원면제카드수_B0M       category
 42  기타면제카드수_B0M         category
 43  카드신청건수              int8
 44  Life_Stage          int64
 45  유효카드수_전체            int8
 46  이용가능카드수_전체          int8
 47  이용카드수_전체            int8
 48  이용금액_R3M_총합         int32
 49  총연회비_B0M            int16
 50  총할인금액_B0M           int8
 51  총청구연회비_B0M          int16
 52  탈회비율                float64
 53  카드발급후경과비율           float64
 54  주이용카드_금액차           int32
 55  주이용카드_건수차           int16
dtypes: category(10), datetime64[ns](3), float64(2), int16(3), int32(4), int64(5), int8(29)
memory usage: 340.7 MB
../dataset/train/merged_optimized\member_optimized.parquet 저장 완료

## 신용정보

### Label Encoding

In [140]:
file_name = "credit_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 42 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   기준년월            600000 non-null  int32
 1   ID              600000 non-null  category
 2   최초한도금액          600000 non-null  int32
 3   카드이용한도금액        600000 non-null  int32
 4   CA한도금액          600000 non-null  int32
 5   일시상환론한도금액       600000 non-null  int32
 6   월상환론한도금액        600000 non-null  int32
 7   CA이자율_할인전       600000 non-null  float32
 8   CL이자율_할인전       600000 non-null  float32
 9   RV일시불이자율_할인전    600000 non-null  float32
 10  RV현금서비스이자율_할인전  600000 non-null  float32
 11  RV신청일자          106572 non-null  datetime64[ns]
 12  RV약정청구율         600000 non-null  float32
 13  RV최소결제비율        600000 non-null  float32
 14  자발한도감액횟수_R12M   600000 non-null  category
 15  자발한도감액금액_R12M   600000 non-null  int8
 16  자발한도감액후경과월      600000 non-null  int8
 17  강제한도감액횟수_R12M   600000 non-null  int8
 18  강제한도감액금액_R12M   600000 non-null  int8
 19  강제한도감액후경과월      600000 non-null  int8
 20  한도증액횟수_R12M     600000 non-null  category
 21  한도증액금액_R12M     600000 non-null  int8
 22  한도증액후경과월        600000 non-null  int8
 23  상향가능한도금액        600000 non-null  int8
 24  상향가능CA한도금액      600000 non-null  int8
 25  카드론동의여부         600000 non-null  category
 26  월상환론상향가능한도금액    600000 non-null  int8
 27  RV전환가능여부        600000 non-null  category
 28  일시불ONLY전환가능여부   600000 non-null  int8
 29  카드이용한도금액_B1M    600000 non-null  int32
 30  카드이용한도금액_B2M    600000 non-null  int32
 31  특별한도보유여부_R3M    600000 non-null  int8
 32  연체감액여부_R3M      600000 non-null  int8
 33  한도심사요청건수        600000 non-null  category
 34  한도요청거절건수        600000 non-null  int8
 35  한도심사요청후경과월      600000 non-null  int8
 36  한도심사거절후경과월      600000 non-null  int8
 37  시장단기연체여부_R6M    600000 non-null  int8
 38  시장단기연체여부_R3M    600000 non-null  int8
 39  시장연체상환여부_R6M    600000 non-null  int8
 40  시장연체상환여부_R3M    600000 non-null  int8
 41  rv최초시작후경과일      600000 non-null  int32
dtypes: category(6), datetime64[ns](1), float32(6), int32(9), int8(20)
memory usage: 58.3 MB

In [141]:
binary_cols = [
    "카드론동의여부", "RV전환가능여부", "일시불ONLY전환가능여부",
    "특별한도보유여부_R3M", "연체감액여부_R3M",
    "시장단기연체여부_R3M", "시장단기연체여부_R6M",
    "시장연체상환여부_R3M", "시장연체상환여부_R6M"
]

# 이진 변수는 직접 매핑
for col in binary_cols:
   print(f"Unique values for {col}:")
   print(df[col].unique())
   print(end="\n\n")

Unique values for 카드론동의여부:
['N', 'Y']
Categories (2, object): ['N', 'Y']


Unique values for RV전환가능여부:
['Z', 'N', 'unknown']
Categories (3, object): ['N', 'Z', 'unknown']


Unique values for 일시불ONLY전환가능여부:
[1 0]


Unique values for 특별한도보유여부_R3M:
[0 1]


Unique values for 연체감액여부_R3M:
[0 1]


Unique values for 시장단기연체여부_R3M:
[0 1]


Unique values for 시장단기연체여부_R6M:
[0 1]


Unique values for 시장연체상환여부_R3M:
[0]


Unique values for 시장연체상환여부_R6M:
[0 1]

In [ ]:
# 카드론동의여부: Y/N → 1/0
df["카드론동의여부"] = df["카드론동의여부"].map({"Y": 1, "N": 0})

# RV전환가능여부: 다범주형이므로 LabelEncoding
le_rv = LabelEncoder()
df["RV전환가능여부"] = le_rv.fit_transform(df["RV전환가능여부"].astype(str))

In [142]:
# Test
# 카드론동의여부: Y/N → 1/0
df["카드론동의여부"] = df["카드론동의여부"].map({"Y": 1, "N": 0})

# RV전환가능여부: 다범주형이므로 LabelEncoding
df["RV전환가능여부"] = le_rv.fit_transform(df["RV전환가능여부"].astype(str))

### Feature Engineering

In [143]:
# 전체 한도 합산
df["총한도금액"] = (
    df["카드이용한도금액"] +
    df["CA한도금액"] +
    df["일시상환론한도금액"] +
    df["월상환론한도금액"]
)

target1 = ["카드이용한도금액", "CA한도금액", "일시상환론한도금액", "월상환론한도금액"]

# 항목별 구성 비율
df["한도비율_CA"] = df["CA한도금액"] / (df["총한도금액"] + 1)
df["한도비율_카드론"] = df["월상환론한도금액"] / (df["총한도금액"] + 1)

# 총 자발 감액 vs 강제 감액
df["감액총액"] = df["자발한도감액금액_R12M"] + df["강제한도감액금액_R12M"]

target2 = ["자발한도감액금액_R12M", "강제한도감액금액_R12M", "자발한도감액횟수_R12M", "강제한도감액횟수_R12M"]

# 증액 후 감액 여부
df["감액후증액"] = (df["한도증액후경과월"] > df["자발한도감액후경과월"]).astype(int)

# 전체 이자율 평균
df["평균이자율"] = df[[
    "CA이자율_할인전",
    "CL이자율_할인전",
    "RV일시불이자율_할인전",
    "RV현금서비스이자율_할인전"
]].mean(axis=1)

target3 = ["CA이자율_할인전", "CL이자율_할인전", "RV일시불이자율_할인전", "RV현금서비스이자율_할인전"]

# 리볼빙 비율이 일정 이상이면 적극적 사용자
df["리볼빙_활성사용자"] = (df["RV약정청구율"] > 50).astype(int)

# 리볼빙 신청 이후 경과일 수 기준
df["리볼빙신청_경과일수"] = df["rv최초시작후경과일"]

# 한도 변화 추이
df["한도변화_1M"] = df["카드이용한도금액"] - df["카드이용한도금액_B1M"]
df["한도변화_2M"] = df["카드이용한도금액_B1M"] - df["카드이용한도금액_B2M"]

target4 = ["카드이용한도금액_B1M", "카드이용한도금액_B2M"]

drop_columns = target1 + target2 + target3 + target4

In [144]:
df = df.drop(columns=drop_columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 38 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   기준년월           600000 non-null  int32
 1   ID             600000 non-null  category
 2   최초한도금액         600000 non-null  int32
 3   RV신청일자         106572 non-null  datetime64[ns]
 4   RV약정청구율        600000 non-null  float32
 5   RV최소결제비율       600000 non-null  float32
 6   자발한도감액후경과월     600000 non-null  int8
 7   강제한도감액후경과월     600000 non-null  int8
 8   한도증액횟수_R12M    600000 non-null  category
 9   한도증액금액_R12M    600000 non-null  int8
 10  한도증액후경과월       600000 non-null  int8
 11  상향가능한도금액       600000 non-null  int8
 12  상향가능CA한도금액     600000 non-null  int8
 13  카드론동의여부        600000 non-null  category
 14  월상환론상향가능한도금액   600000 non-null  int8
 15  RV전환가능여부       600000 non-null  int64
 16  일시불ONLY전환가능여부  600000 non-null  int8
 17  특별한도보유여부_R3M   600000 non-null  int8
 18  연체감액여부_R3M     600000 non-null  int8
 19  한도심사요청건수       600000 non-null  category
 20  한도요청거절건수       600000 non-null  int8
 21  한도심사요청후경과월     600000 non-null  int8
 22  한도심사거절후경과월     600000 non-null  int8
 23  시장단기연체여부_R6M   600000 non-null  int8
 24  시장단기연체여부_R3M   600000 non-null  int8
 25  시장연체상환여부_R6M   600000 non-null  int8
 26  시장연체상환여부_R3M   600000 non-null  int8
 27  rv최초시작후경과일     600000 non-null  int32
 28  총한도금액          600000 non-null  int32
 29  한도비율_CA        600000 non-null  float64
 30  한도비율_카드론       600000 non-null  float64
 31  감액총액           600000 non-null  int8
 32  감액후증액          600000 non-null  int64
 33  평균이자율          600000 non-null  float32
 34  리볼빙_활성사용자      600000 non-null  int64
 35  리볼빙신청_경과일수     600000 non-null  int32
 36  한도변화_1M        600000 non-null  int32
 37  한도변화_2M        600000 non-null  int32
dtypes: category(4), datetime64[ns](1), float32(3), float64(2), int32(7), int64(3), int8(18)
memory usage: 67.4 MB

In [145]:
df.to_parquet(file_path, index=False)

## 승인매출정보

### Label Encoding

In [164]:
file_name = "tx_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Columns: 406 entries, 기준년월 to 이용금액대
dtypes: category(18), datetime64[ns](1), float32(2), int16(110), int32(65), int8(210)
memory usage: 418.8 MB

In [165]:
label_cols = [
    "_1순위업종", "_2순위업종", "_3순위업종",
    "_1순위쇼핑업종", "_2순위쇼핑업종", "_3순위쇼핑업종",
    "_1순위교통업종", "_2순위교통업종", "_3순위교통업종",
    "_1순위여유업종", "_2순위여유업종", "_3순위여유업종",
    "_1순위납부업종", "_2순위납부업종", "_3순위납부업종",
    "이용금액대"
]

label_encoders = {}

for col in label_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col].astype(str))
    label_encoders[col] = le

### Column 통합

In [166]:
# 당월 총 이용금액
df["이용금액_B0M_총합"] = (
    df["이용금액_일시불_B0M"] + df["이용금액_할부_B0M"] +
    df["이용금액_CA_B0M"] + df["이용금액_체크_B0M"] +
    df["이용금액_카드론_B0M"]
)

# 당월 총 이용건수
df["이용건수_B0M_총합"] = (
    df["이용건수_일시불_B0M"] + df["이용건수_할부_B0M"] +
    df["이용건수_CA_B0M"] + df["이용건수_체크_B0M"] +
    df["이용건수_카드론_B0M"]
)

# 최근 3개월 온라인/오프라인 총액
df["이용금액_온라인오프라인_R3M"] = df["이용금액_온라인_R3M"] + df["이용금액_오프라인_R3M"]
df["이용건수_온라인오프라인_R3M"] = df["이용건수_온라인_R3M"] + df["이용건수_오프라인_R3M"]

할부총 = (
    df["이용금액_할부_유이자_R12M"] +
    df["이용금액_할부_무이자_R12M"] +
    df["이용금액_부분무이자_R12M"]
)

df["할부비율_유이자"] = df["이용금액_할부_유이자_R12M"] / (할부총 + 1)
df["할부비율_무이자"] = df["이용금액_할부_무이자_R12M"] / (할부총 + 1)
df["할부비율_부분무이자"] = df["이용금액_부분무이자_R12M"] / (할부총 + 1)

df["RP_활성도지수"] = df["RP건수_B0M"] / (df["RP후경과월"] + 1)
df["간편결제_활성도"] = df["이용금액_간편결제_R3M"] / (df["이용개월수_간편결제_R6M"] + 1)
df["승인거절비율_B0M"] = df["승인거절건수_B0M"] / (df["이용건수_B0M_총합"] + 1)

df["월평균이용금액_R3M"] = df["이용금액_B0M_총합"] / (df["이용개월수_전체_R3M"] + 1)
df["월평균이용금액_R6M"] = df["이용금액_온라인_R6M"] + df["이용금액_오프라인_R6M"] / (df["이용개월수_전체_R6M"] + 1)

cols_to_drop = [
    "이용금액_일시불_B0M", "이용금액_할부_B0M", "이용금액_CA_B0M", "이용금액_체크_B0M", "이용금액_카드론_B0M",
    "이용건수_일시불_B0M", "이용건수_할부_B0M", "이용건수_CA_B0M", "이용건수_체크_B0M", "이용건수_카드론_B0M",
    "이용금액_온라인_R3M", "이용금액_오프라인_R3M",
    "이용금액_할부_유이자_R12M", "이용금액_할부_무이자_R12M", "이용금액_부분무이자_R12M",
    "RP건수_B0M", "RP후경과월",
    "이용개월수_전체_R3M", "이용개월수_전체_R6M",
    "이용금액_온라인_R6M", "이용금액_오프라인_R6M",
    "이용금액_간편결제_R3M", "이용개월수_간편결제_R6M", "승인거절건수_B0M"
]

df = df.drop(columns=cols_to_drop)

In [167]:
df = optimize_dataframe(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Columns: 394 entries, 기준년월 to 월평균이용금액_R6M
dtypes: category(2), datetime64[ns](1), float32(10), int16(106), int32(59), int8(216)
memory usage: 413.0 MB

In [168]:
df.to_parquet(file_path, index=False)

## 청구입금정보

### Label Encoding

In [176]:
file_name = "bill_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 46 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   기준년월              600000 non-null  int32
 1   ID                600000 non-null  category
 2   대표결제일             600000 non-null  int8
 3   대표결제방법코드          600000 non-null  category
 4   대표청구지고객주소구분코드     600000 non-null  category
 5   대표청구서수령지구분코드      600000 non-null  category
 6   청구서수령방법           600000 non-null  category
 7   청구서발송여부_B0        600000 non-null  int8
 8   청구서발송여부_R3M       600000 non-null  int8
 9   청구서발송여부_R6M       600000 non-null  int8
 10  청구금액_B0           600000 non-null  int32
 11  청구금액_R3M          600000 non-null  int32
 12  청구금액_R6M          600000 non-null  int32
 13  포인트_마일리지_건별_B0M   600000 non-null  int16
 14  포인트_마일리지_건별_R3M   600000 non-null  int16
 15  포인트_포인트_건별_B0M    600000 non-null  int16
 16  포인트_포인트_건별_R3M    600000 non-null  int16
 17  포인트_마일리지_월적립_B0M  600000 non-null  int16
 18  포인트_마일리지_월적립_R3M  600000 non-null  int16
 19  포인트_포인트_월적립_B0M   600000 non-null  int16
 20  포인트_포인트_월적립_R3M   600000 non-null  int32
 21  포인트_적립포인트_R12M    600000 non-null  int32
 22  포인트_적립포인트_R3M     600000 non-null  int32
 23  포인트_이용포인트_R12M    600000 non-null  int32
 24  포인트_이용포인트_R3M     600000 non-null  int32
 25  포인트_잔여포인트_B0M     600000 non-null  int16
 26  마일_적립포인트_R12M     600000 non-null  int32
 27  마일_적립포인트_R3M      600000 non-null  int16
 28  마일_이용포인트_R12M     600000 non-null  int32
 29  마일_이용포인트_R3M      600000 non-null  int16
 30  마일_잔여포인트_B0M      600000 non-null  int16
 31  할인건수_R3M          600000 non-null  category
 32  할인금액_R3M          600000 non-null  int16
 33  할인건수_B0M          600000 non-null  category
 34  할인금액_B0M          600000 non-null  int16
 35  할인금액_청구서_R3M      600000 non-null  int16
 36  할인금액_청구서_B0M      600000 non-null  int16
 37  상환개월수_결제일_R6M     600000 non-null  int8
 38  상환개월수_결제일_R3M     600000 non-null  int8
 39  선결제건수_R6M         600000 non-null  int8
 40  선결제건수_R3M         600000 non-null  int8
 41  연체건수_R6M          600000 non-null  int8
 42  연체건수_R3M          600000 non-null  int8
 43  혜택수혜금액_R3M        600000 non-null  int16
 44  포인트_마일리지_환산_B0M   600000 non-null  int16
 45  혜택수혜금액            600000 non-null  int16
dtypes: category(7), int16(18), int32(11), int8(10)
memory usage: 60.0 MB

In [177]:
from sklearn.preprocessing import LabelEncoder

label_cols = [
    "대표결제방법코드", "대표청구지고객주소구분코드",
    "대표청구서수령지구분코드", "청구서수령방법"
]

label_encoders = {}

# Label Encoding
for col in label_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col].astype(str))
    label_encoders[col] = le

In [178]:
# 이진 여부 처리

binary_cols = ["청구서발송여부_B0", "청구서발송여부_R3M", "청구서발송여부_R6M"]
for col in binary_cols:
    # print(f"Unique values for {col}:")
    # print(df[col].unique())
    df[col] = df[col].map({'Y': 1, 'N': 0})

### Column 통합

In [179]:
df["청구금액_총합"] = df["청구금액_B0"] + df["청구금액_R3M"] + df["청구금액_R6M"]
df["청구금액_증감률"] = (df["청구금액_B0"] + 1) / (df["청구금액_R3M"] + 1)

# 총 적립 포인트 및 마일리지
df["총_포인트_적립"] = (
    df["포인트_포인트_건별_B0M"] + df["포인트_포인트_월적립_B0M"] +
    df["포인트_적립포인트_R3M"] + df["포인트_적립포인트_R12M"]
)

df["총_마일리지_적립"] = (
    df["포인트_마일리지_건별_B0M"] + df["포인트_마일리지_월적립_B0M"] +
    df["마일_적립포인트_R3M"] + df["마일_적립포인트_R12M"]
)

# 총 잔여 포인트 금액화
df["포인트_잔여_환산"] = df["포인트_잔여포인트_B0M"] + (df["마일_잔여포인트_B0M"] * 15)

df["총_할인금액"] = df["할인금액_R3M"] + df["할인금액_B0M"]
df["총_혜택금액"] = df["혜택수혜금액"] + df["혜택수혜금액_R3M"] + df["포인트_마일리지_환산_B0M"]

df["연체건수_총합"] = df["연체건수_R3M"] + df["연체건수_R6M"]
df["선결제건수_총합"] = df["선결제건수_R3M"] + df["선결제건수_R6M"]
df["납부개월수_총합"] = df["상환개월수_결제일_R3M"] + df["상환개월수_결제일_R6M"]

cols_to_drop = [
    "청구금액_B0", "청구금액_R3M", "청구금액_R6M",
    "포인트_포인트_건별_B0M", "포인트_포인트_월적립_B0M", "포인트_적립포인트_R3M", "포인트_적립포인트_R12M",
    "포인트_마일리지_건별_B0M", "포인트_마일리지_월적립_B0M", "마일_적립포인트_R3M", "마일_적립포인트_R12M",
    "할인금액_B0M", "할인금액_R3M"
]

df = df.drop(columns=cols_to_drop)

In [180]:
df = optimize_dataframe(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 43 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   기준년월              600000 non-null  int32
 1   ID                600000 non-null  category
 2   대표결제일             600000 non-null  int8
 3   대표결제방법코드          600000 non-null  int8
 4   대표청구지고객주소구분코드     600000 non-null  int8
 5   대표청구서수령지구분코드      600000 non-null  int8
 6   청구서수령방법           600000 non-null  int8
 7   청구서발송여부_B0        0 non-null       float32
 8   청구서발송여부_R3M       0 non-null       float32
 9   청구서발송여부_R6M       0 non-null       float32
 10  포인트_마일리지_건별_R3M   600000 non-null  int16
 11  포인트_포인트_건별_R3M    600000 non-null  int16
 12  포인트_마일리지_월적립_R3M  600000 non-null  int16
 13  포인트_포인트_월적립_R3M   600000 non-null  int32
 14  포인트_이용포인트_R12M    600000 non-null  int32
 15  포인트_이용포인트_R3M     600000 non-null  int32
 16  포인트_잔여포인트_B0M     600000 non-null  int16
 17  마일_이용포인트_R12M     600000 non-null  int32
 18  마일_이용포인트_R3M      600000 non-null  int16
 19  마일_잔여포인트_B0M      600000 non-null  int16
 20  할인건수_R3M          600000 non-null  category
 21  할인건수_B0M          600000 non-null  category
 22  할인금액_청구서_R3M      600000 non-null  int16
 23  할인금액_청구서_B0M      600000 non-null  int16
 24  상환개월수_결제일_R6M     600000 non-null  int8
 25  상환개월수_결제일_R3M     600000 non-null  int8
 26  선결제건수_R6M         600000 non-null  int8
 27  선결제건수_R3M         600000 non-null  int8
 28  연체건수_R6M          600000 non-null  int8
 29  연체건수_R3M          600000 non-null  int8
 30  혜택수혜금액_R3M        600000 non-null  int16
 31  포인트_마일리지_환산_B0M   600000 non-null  int16
 32  혜택수혜금액            600000 non-null  int16
 33  청구금액_총합           600000 non-null  int32
 34  청구금액_증감률          600000 non-null  float32
 35  총_포인트_적립          600000 non-null  int32
 36  총_마일리지_적립         600000 non-null  int32
 37  포인트_잔여_환산         600000 non-null  int16
 38  총_할인금액            600000 non-null  int16
 39  총_혜택금액            600000 non-null  int16
 40  연체건수_총합           600000 non-null  int8
 41  선결제건수_총합          600000 non-null  int8
 42  납부개월수_총합          600000 non-null  int8
dtypes: category(3), float32(4), int16(14), int32(8), int8(14)
memory usage: 57.7 MB

In [181]:
df.to_parquet(file_path, index=False)

## 잔액정보

In [188]:
file_name = "balance_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 82 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   기준년월               600000 non-null  int32
 1   ID                 600000 non-null  category
 2   잔액_일시불_B0M         600000 non-null  int32
 3   잔액_할부_B0M          600000 non-null  int32
 4   잔액_현금서비스_B0M       600000 non-null  int32
 5   잔액_리볼빙일시불이월_B0M    600000 non-null  int32
 6   잔액_리볼빙CA이월_B0M     600000 non-null  int32
 7   잔액_카드론_B0M         600000 non-null  int32
 8   월중평잔_일시불_B0M       600000 non-null  int32
 9   월중평잔_할부_B0M        600000 non-null  int32
 10  월중평잔_CA_B0M        600000 non-null  int32
 11  카드론잔액_최종경과월        600000 non-null  int8
 12  연체일자_B0M           1348 non-null    datetime64[ns]
 13  연체잔액_B0M           600000 non-null  int32
 14  연체잔액_일시불_B0M       600000 non-null  int16
 15  연체잔액_할부_B0M        600000 non-null  int16
 16  연체잔액_현금서비스_B0M     600000 non-null  int16
 17  연체잔액_카드론_B0M       600000 non-null  int16
 18  연체잔액_대환론_B0M       600000 non-null  int8
 19  잔액_현금서비스_B1M       600000 non-null  int32
 20  잔액_현금서비스_B2M       600000 non-null  int32
 21  잔액_카드론_B1M         600000 non-null  int32
 22  잔액_카드론_B2M         600000 non-null  int32
 23  잔액_카드론_B3M         600000 non-null  int32
 24  잔액_카드론_B4M         600000 non-null  int32
 25  잔액_카드론_B5M         600000 non-null  int32
 26  잔액_할부_B1M          600000 non-null  int32
 27  잔액_할부_B2M          600000 non-null  int32
 28  잔액_일시불_B1M         600000 non-null  int32
 29  잔액_일시불_B2M         600000 non-null  int32
 30  연체일수_B1M           600000 non-null  int32
 31  연체일수_B2M           600000 non-null  int32
 32  연체원금_B1M           600000 non-null  int16
 33  연체원금_B2M           600000 non-null  int16
 34  연체일수_최근            600000 non-null  int32
 35  연체원금_최근            600000 non-null  int16
 36  최종연체회차             600000 non-null  int8
 37  매각잔액_B1M           600000 non-null  int8
 38  최종연체개월수_R15M       600000 non-null  int8
 39  RV_평균잔액_R12M       600000 non-null  int32
 40  RV_최대잔액_R12M       600000 non-null  int32
 41  RV_평균잔액_R6M        600000 non-null  int32
 42  RV_최대잔액_R6M        600000 non-null  int32
 43  RV_평균잔액_R3M        600000 non-null  int32
 44  RV_최대잔액_R3M        600000 non-null  int32
 45  RV잔액이월횟수_R6M       600000 non-null  int8
 46  RV잔액이월횟수_R3M       600000 non-null  int8
 47  잔액_할부_유이자_B0M      600000 non-null  int32
 48  잔액_할부_무이자_B0M      600000 non-null  int32
 49  잔액_할부_해외_B0M       600000 non-null  int16
 50  연체잔액_일시불_해외_B0M    600000 non-null  int8
 51  연체잔액_RV일시불_B0M     600000 non-null  int16
 52  연체잔액_RV일시불_해외_B0M  600000 non-null  int8
 53  연체잔액_할부_해외_B0M     600000 non-null  int8
 54  연체잔액_CA_B0M        600000 non-null  int16
 55  연체잔액_CA_해외_B0M     600000 non-null  int8
 56  월중평잔               600000 non-null  int32
 57  월중평잔_일시불           600000 non-null  int32
 58  월중평잔_RV일시불         600000 non-null  int32
 59  월중평잔_할부            600000 non-null  int32
 60  월중평잔_CA            600000 non-null  int32
 61  월중평잔_카드론           600000 non-null  int32
 62  평잔_3M              600000 non-null  int32
 63  평잔_일시불_3M          600000 non-null  int32
 64  평잔_일시불_해외_3M       600000 non-null  int16
 65  평잔_RV일시불_3M        600000 non-null  int32
 66  평잔_RV일시불_해외_3M     600000 non-null  int16
 67  평잔_할부_3M           600000 non-null  int32
 68  평잔_할부_해외_3M        600000 non-null  int16
 69  평잔_CA_3M           600000 non-null  int32
 70  평잔_CA_해외_3M        600000 non-null  int16
 71  평잔_카드론_3M          600000 non-null  int32
 72  평잔_6M              600000 non-null  int32
 73  평잔_일시불_6M          600000 non-null  int32
 74  평잔_일시불_해외_6M       600000 non-null  int16
 75  평잔_RV일시불_6M        600000 non-null  int32
 76  평잔_RV일시불_해외_6M     600000 non-null  int16
 77  평잔_할부_6M           600000 non-null  int32
 78  평잔_할부_해외_6M        600000 non-null  int16
 79  평잔_CA_6M           600000 non-null  int32
 80  평잔_CA_해외_6M        600000 non-null  int16
 81  평잔_카드론_6M          600000 non-null  int32
dtypes: category(1), datetime64[ns](1), int16(18), int32(51), int8(11)
memory usage: 153.3 MB

In [189]:
# 당월 총 잔액
df["총잔액_B0M"] = (
    df["잔액_일시불_B0M"] + df["잔액_할부_B0M"] + df["잔액_현금서비스_B0M"] +
    df["잔액_리볼빙일시불이월_B0M"] + df["잔액_리볼빙CA이월_B0M"] + df["잔액_카드론_B0M"]
)

# 당월 총 연체잔액
df["총연체잔액_B0M"] = (
    df["연체잔액_B0M"] + df["연체잔액_일시불_B0M"] + df["연체잔액_할부_B0M"] +
    df["연체잔액_현금서비스_B0M"] + df["연체잔액_카드론_B0M"] + df["연체잔액_CA_B0M"]
)

# 최근 3개월간 평균 잔액 총합
df["평균잔액_총합_3M"] = (
    df["평잔_일시불_3M"] + df["평잔_할부_3M"] + df["평잔_CA_3M"] +
    df["평잔_카드론_3M"] + df["평잔_RV일시불_3M"]
)

# 리볼빙 비중
df["리볼빙비율_평잔3M"] = df["평잔_RV일시불_3M"] / (df["평균잔액_총합_3M"] + 1)

# 연체 원금 평균
df["연체원금_평균"] = (df["연체원금_B1M"] + df["연체원금_B2M"] + df["연체원금_최근"]) / 3

# 연체 일수 평균
df["연체일수_평균"] = (df["연체일수_B1M"] + df["연체일수_B2M"] + df["연체일수_최근"]) / 3

# 연체 건/월수 비율
df["연체심각도지수"] = df["연체원금_평균"] * df["연체일수_평균"]

# 카드론 추세 (최근 3개월간)
df["카드론_변동폭"] = df["잔액_카드론_B0M"] - df["잔액_카드론_B2M"]

# 리볼빙 평균잔액 추세
df["RV_평잔_증감_3M6M"] = df["RV_평균잔액_R3M"] - df["RV_평균잔액_R6M"]

cols_to_drop = [
    # 총잔액 구성 항목
    "잔액_일시불_B0M", "잔액_할부_B0M", "잔액_현금서비스_B0M", "잔액_리볼빙일시불이월_B0M", "잔액_리볼빙CA이월_B0M", "잔액_카드론_B0M",
    # 연체 구성 항목
    "연체잔액_B0M", "연체잔액_일시불_B0M", "연체잔액_할부_B0M", "연체잔액_현금서비스_B0M", "연체잔액_카드론_B0M", "연체잔액_CA_B0M",
    # 평균잔액 개별 항목
    "평잔_일시불_3M", "평잔_할부_3M", "평잔_CA_3M", "평잔_카드론_3M", "평잔_RV일시불_3M",
    # 연체 정보 항목
    "연체원금_B1M", "연체원금_B2M", "연체원금_최근", "연체일수_B1M", "연체일수_B2M", "연체일수_최근"
]
df = df.drop(columns=cols_to_drop)

In [190]:
df = optimize_dataframe(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 68 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   기준년월               600000 non-null  int32
 1   ID                 600000 non-null  category
 2   월중평잔_일시불_B0M       600000 non-null  int32
 3   월중평잔_할부_B0M        600000 non-null  int32
 4   월중평잔_CA_B0M        600000 non-null  int32
 5   카드론잔액_최종경과월        600000 non-null  int8
 6   연체일자_B0M           1348 non-null    datetime64[ns]
 7   연체잔액_대환론_B0M       600000 non-null  int8
 8   잔액_현금서비스_B1M       600000 non-null  int32
 9   잔액_현금서비스_B2M       600000 non-null  int32
 10  잔액_카드론_B1M         600000 non-null  int32
 11  잔액_카드론_B2M         600000 non-null  int32
 12  잔액_카드론_B3M         600000 non-null  int32
 13  잔액_카드론_B4M         600000 non-null  int32
 14  잔액_카드론_B5M         600000 non-null  int32
 15  잔액_할부_B1M          600000 non-null  int32
 16  잔액_할부_B2M          600000 non-null  int32
 17  잔액_일시불_B1M         600000 non-null  int32
 18  잔액_일시불_B2M         600000 non-null  int32
 19  최종연체회차             600000 non-null  int8
 20  매각잔액_B1M           600000 non-null  int8
 21  최종연체개월수_R15M       600000 non-null  int8
 22  RV_평균잔액_R12M       600000 non-null  int32
 23  RV_최대잔액_R12M       600000 non-null  int32
 24  RV_평균잔액_R6M        600000 non-null  int32
 25  RV_최대잔액_R6M        600000 non-null  int32
 26  RV_평균잔액_R3M        600000 non-null  int32
 27  RV_최대잔액_R3M        600000 non-null  int32
 28  RV잔액이월횟수_R6M       600000 non-null  int8
 29  RV잔액이월횟수_R3M       600000 non-null  int8
 30  잔액_할부_유이자_B0M      600000 non-null  int32
 31  잔액_할부_무이자_B0M      600000 non-null  int32
 32  잔액_할부_해외_B0M       600000 non-null  int16
 33  연체잔액_일시불_해외_B0M    600000 non-null  int8
 34  연체잔액_RV일시불_B0M     600000 non-null  int16
 35  연체잔액_RV일시불_해외_B0M  600000 non-null  int8
 36  연체잔액_할부_해외_B0M     600000 non-null  int8
 37  연체잔액_CA_해외_B0M     600000 non-null  int8
 38  월중평잔               600000 non-null  int32
 39  월중평잔_일시불           600000 non-null  int32
 40  월중평잔_RV일시불         600000 non-null  int32
 41  월중평잔_할부            600000 non-null  int32
 42  월중평잔_CA            600000 non-null  int32
 43  월중평잔_카드론           600000 non-null  int32
 44  평잔_3M              600000 non-null  int32
 45  평잔_일시불_해외_3M       600000 non-null  int16
 46  평잔_RV일시불_해외_3M     600000 non-null  int16
 47  평잔_할부_해외_3M        600000 non-null  int16
 48  평잔_CA_해외_3M        600000 non-null  int16
 49  평잔_6M              600000 non-null  int32
 50  평잔_일시불_6M          600000 non-null  int32
 51  평잔_일시불_해외_6M       600000 non-null  int16
 52  평잔_RV일시불_6M        600000 non-null  int32
 53  평잔_RV일시불_해외_6M     600000 non-null  int16
 54  평잔_할부_6M           600000 non-null  int32
 55  평잔_할부_해외_6M        600000 non-null  int16
 56  평잔_CA_6M           600000 non-null  int32
 57  평잔_CA_해외_6M        600000 non-null  int16
 58  평잔_카드론_6M          600000 non-null  int32
 59  총잔액_B0M            600000 non-null  int32
 60  총연체잔액_B0M          600000 non-null  int32
 61  평균잔액_총합_3M         600000 non-null  int32
 62  리볼빙비율_평잔3M         600000 non-null  float32
 63  연체원금_평균            600000 non-null  float32
 64  연체일수_평균            600000 non-null  float32
 65  연체심각도지수            600000 non-null  float32
 66  카드론_변동폭            600000 non-null  int32
 67  RV_평잔_증감_3M6M      600000 non-null  int32
dtypes: category(1), datetime64[ns](1), float32(4), int16(10), int32(41), int8(11)
memory usage: 130.4 MB

In [191]:
df.to_parquet(file_path, index=False)

## 채널정보

In [202]:
file_name = "channel_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Columns: 105 entries, 기준년월 to 홈페이지_선결제건수_R3M
dtypes: category(7), int16(1), int32(1), int8(96)
memory usage: 66.9 MB

In [193]:
le_os = LabelEncoder()
df["OS구분코드"] = le_os.fit_transform(df["OS구분코드"].astype(str))

In [203]:
# Test
df["OS구분코드"] = le_os.fit_transform(df["OS구분코드"].astype(str))

In [204]:
df["고객센터불만총합_R6M"] = (
    df["인입불만횟수_IB_R6M"] + df["IB상담건수_VOC불만_R6M"] + df["불만제기건수_R12M"]
)

# ARS/APP/PC 기준 최근 방문으로부터 경과 개월 평균
df["경과월_평균"] = (
    df["인입후경과월_ARS"] +
    df["방문후경과월_PC_R6M"] +
    df["방문후경과월_앱_R6M"] +
    df["방문후경과월_모바일웹_R6M"]
) / 4


# 고객센터 문의 총합
문의_cols = [col for col in df.columns if "IB문의건수" in col and ("B0M" in col or "R6M" in col)]
df["고객센터문의총합"] = df[문의_cols].sum(axis=1)

# 상담/민원 비율
df["민원비율_R6M"] = df["IB상담건수_VOC민원_R6M"] / (df["IB상담건수_VOC_R6M"] + 1)

df["PAY_방문활동"] = df["당사PAY_방문횟수_B0M"] + df["당사PAY_방문횟수_R6M"]
df["멤버십_방문활동"] = df["당사멤버쉽_방문횟수_B0M"] + df["당사멤버쉽_방문횟수_R6M"]

cols_to_drop = [
    "IB상담건수_VOC불만_R6M", "IB상담건수_VOC_R6M",
    "당사PAY_방문횟수_B0M", "당사PAY_방문횟수_R6M",
    "당사멤버쉽_방문횟수_B0M", "당사멤버쉽_방문횟수_R6M",
] + 문의_cols  # 고객센터문의 세부 항목 전체 제거

df = df.drop(columns=cols_to_drop)

In [205]:
df = optimize_dataframe(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 67 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   기준년월              600000 non-null  int32
 1   ID                600000 non-null  category
 2   인입횟수_ARS_R6M      600000 non-null  category
 3   이용메뉴건수_ARS_R6M    600000 non-null  category
 4   인입일수_ARS_R6M      600000 non-null  int8
 5   인입월수_ARS_R6M      600000 non-null  int8
 6   인입후경과월_ARS        600000 non-null  int8
 7   인입횟수_ARS_B0M      600000 non-null  int8
 8   이용메뉴건수_ARS_B0M    600000 non-null  int8
 9   인입일수_ARS_B0M      600000 non-null  int8
 10  방문횟수_PC_R6M       600000 non-null  category
 11  방문일수_PC_R6M       600000 non-null  category
 12  방문월수_PC_R6M       600000 non-null  int8
 13  방문후경과월_PC_R6M     600000 non-null  int8
 14  방문횟수_앱_R6M        600000 non-null  category
 15  방문일수_앱_R6M        600000 non-null  int8
 16  방문월수_앱_R6M        600000 non-null  int8
 17  방문후경과월_앱_R6M      600000 non-null  int8
 18  방문횟수_모바일웹_R6M     600000 non-null  int8
 19  방문일수_모바일웹_R6M     600000 non-null  int8
 20  방문월수_모바일웹_R6M     600000 non-null  int8
 21  방문후경과월_모바일웹_R6M   600000 non-null  int8
 22  방문횟수_PC_B0M       600000 non-null  int8
 23  방문일수_PC_B0M       600000 non-null  int8
 24  방문횟수_앱_B0M        600000 non-null  int8
 25  방문일수_앱_B0M        600000 non-null  int8
 26  방문횟수_모바일웹_B0M     600000 non-null  int8
 27  방문일수_모바일웹_B0M     600000 non-null  int8
 28  인입횟수_IB_R6M       600000 non-null  int8
 29  인입횟수_금융_IB_R6M    600000 non-null  int8
 30  인입일수_IB_R6M       600000 non-null  int8
 31  인입월수_IB_R6M       600000 non-null  int8
 32  이용메뉴건수_IB_R6M     600000 non-null  int8
 33  인입후경과월_IB_R6M     600000 non-null  int8
 34  인입횟수_IB_B0M       600000 non-null  int8
 35  인입일수_IB_B0M       600000 non-null  int8
 36  이용메뉴건수_IB_B0M     600000 non-null  int8
 37  인입불만횟수_IB_R6M     600000 non-null  int8
 38  인입불만일수_IB_R6M     600000 non-null  int8
 39  인입불만월수_IB_R6M     600000 non-null  int8
 40  인입불만후경과월_IB_R6M   600000 non-null  int8
 41  인입불만횟수_IB_B0M     600000 non-null  int8
 42  인입불만일수_IB_B0M     600000 non-null  int8
 43  상담건수_B0M          600000 non-null  int8
 44  IB상담건수_VOC_B0M    600000 non-null  int8
 45  IB상담건수_VOC민원_B0M  600000 non-null  int8
 46  IB상담건수_VOC불만_B0M  600000 non-null  int8
 47  IB상담건수_금감원_B0M    600000 non-null  int8
 48  상담건수_R6M          600000 non-null  int8
 49  IB상담건수_VOC민원_R6M  600000 non-null  int8
 50  IB상담건수_금감원_R6M    600000 non-null  int8
 51  불만제기건수_B0M        600000 non-null  int8
 52  불만제기건수_R12M       600000 non-null  int8
 53  불만제기후경과월_R12M     600000 non-null  int8
 54  당사PAY_방문월수_R6M    600000 non-null  int8
 55  당사멤버쉽_방문월수_R6M    600000 non-null  int8
 56  OS구분코드            600000 non-null  int8
 57  홈페이지_금융건수_R6M     600000 non-null  int8
 58  홈페이지_선결제건수_R6M    600000 non-null  int8
 59  홈페이지_금융건수_R3M     600000 non-null  int8
 60  홈페이지_선결제건수_R3M    600000 non-null  int8
 61  고객센터불만총합_R6M      600000 non-null  int8
 62  경과월_평균            600000 non-null  float32
 63  고객센터문의총합          600000 non-null  int8
 64  민원비율_R6M          600000 non-null  float32
 65  PAY_방문활동          600000 non-null  int8
 66  멤버십_방문활동          600000 non-null  int16
dtypes: category(6), float32(2), int16(1), int32(1), int8(57)
memory usage: 48.6 MB

In [206]:
df.to_parquet(file_path, index=False)

## 마케팅 정보

In [212]:
file_name = "mkt_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 64 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   기준년월               600000 non-null  int32
 1   ID                 600000 non-null  category
 2   컨택건수_카드론_TM_B0M    600000 non-null  int8
 3   컨택건수_리볼빙_TM_B0M    600000 non-null  int8
 4   컨택건수_CA_TM_B0M     600000 non-null  int8
 5   컨택건수_이용유도_TM_B0M   600000 non-null  int8
 6   컨택건수_신용발급_TM_B0M   600000 non-null  int8
 7   컨택건수_부대서비스_TM_B0M  600000 non-null  int8
 8   컨택건수_포인트소진_TM_B0M  600000 non-null  int8
 9   컨택건수_보험_TM_B0M     600000 non-null  int8
 10  컨택건수_카드론_LMS_B0M   600000 non-null  int8
 11  컨택건수_CA_LMS_B0M    600000 non-null  int8
 12  컨택건수_리볼빙_LMS_B0M   600000 non-null  int8
 13  컨택건수_이용유도_LMS_B0M  600000 non-null  int8
 14  컨택건수_카드론_EM_B0M    600000 non-null  int8
 15  컨택건수_CA_EM_B0M     600000 non-null  int8
 16  컨택건수_리볼빙_EM_B0M    600000 non-null  int8
 17  컨택건수_이용유도_EM_B0M   600000 non-null  int8
 18  컨택건수_카드론_청구서_B0M   600000 non-null  int8
 19  컨택건수_CA_청구서_B0M    600000 non-null  int8
 20  컨택건수_리볼빙_청구서_B0M   600000 non-null  int8
 21  컨택건수_이용유도_청구서_B0M  600000 non-null  int8
 22  컨택건수_카드론_인터넷_B0M   600000 non-null  int8
 23  컨택건수_CA_인터넷_B0M    600000 non-null  int8
 24  컨택건수_리볼빙_인터넷_B0M   600000 non-null  int8
 25  컨택건수_이용유도_인터넷_B0M  600000 non-null  int8
 26  컨택건수_카드론_당사앱_B0M   600000 non-null  int8
 27  컨택건수_CA_당사앱_B0M    600000 non-null  int8
 28  컨택건수_리볼빙_당사앱_B0M   600000 non-null  int8
 29  컨택건수_이용유도_당사앱_B0M  600000 non-null  int8
 30  컨택건수_카드론_TM_R6M    600000 non-null  int8
 31  컨택건수_CA_TM_R6M     600000 non-null  int8
 32  컨택건수_리볼빙_TM_R6M    600000 non-null  int8
 33  컨택건수_이용유도_TM_R6M   600000 non-null  int8
 34  컨택건수_신용발급_TM_R6M   600000 non-null  int8
 35  컨택건수_부대서비스_TM_R6M  600000 non-null  int8
 36  컨택건수_포인트소진_TM_R6M  600000 non-null  int8
 37  컨택건수_보험_TM_R6M     600000 non-null  int8
 38  컨택건수_카드론_LMS_R6M   600000 non-null  int8
 39  컨택건수_CA_LMS_R6M    600000 non-null  int8
 40  컨택건수_리볼빙_LMS_R6M   600000 non-null  int8
 41  컨택건수_이용유도_LMS_R6M  600000 non-null  int8
 42  컨택건수_카드론_EM_R6M    600000 non-null  int8
 43  컨택건수_CA_EM_R6M     600000 non-null  int8
 44  컨택건수_리볼빙_EM_R6M    600000 non-null  int8
 45  컨택건수_이용유도_EM_R6M   600000 non-null  int8
 46  컨택건수_카드론_청구서_R6M   600000 non-null  int8
 47  컨택건수_CA_청구서_R6M    600000 non-null  int8
 48  컨택건수_리볼빙_청구서_R6M   600000 non-null  int8
 49  컨택건수_이용유도_청구서_R6M  600000 non-null  int8
 50  컨택건수_카드론_인터넷_R6M   600000 non-null  int8
 51  컨택건수_CA_인터넷_R6M    600000 non-null  int8
 52  컨택건수_리볼빙_인터넷_R6M   600000 non-null  int8
 53  컨택건수_이용유도_인터넷_R6M  600000 non-null  int8
 54  컨택건수_카드론_당사앱_R6M   600000 non-null  int8
 55  컨택건수_CA_당사앱_R6M    600000 non-null  int8
 56  컨택건수_리볼빙_당사앱_R6M   600000 non-null  int8
 57  컨택건수_이용유도_당사앱_R6M  600000 non-null  int8
 58  컨택건수_채권_B0M        600000 non-null  int8
 59  컨택건수_FDS_B0M       600000 non-null  int8
 60  컨택건수_채권_R6M        600000 non-null  int8
 61  컨택건수_FDS_R6M       600000 non-null  int8
 62  캠페인접촉건수_R12M       600000 non-null  category
 63  캠페인접촉일수_R12M       600000 non-null  category
dtypes: category(3), int32(1), int8(60)
memory usage: 42.8 MB

In [213]:
# TM, LMS, 이메일, 청구서, 인터넷, 앱 채널별 총합
df["총컨택_TM_B0M"] = df[[col for col in df.columns if col.startswith("컨택건수_") and "_TM_B0M" in col]].sum(axis=1)
df["총컨택_LMS_B0M"] = df[[col for col in df.columns if col.startswith("컨택건수_") and "_LMS_B0M" in col]].sum(axis=1)
df["총컨택_EM_B0M"] = df[[col for col in df.columns if col.startswith("컨택건수_") and "_EM_B0M" in col]].sum(axis=1)
df["총컨택_청구서_B0M"] = df[[col for col in df.columns if col.startswith("컨택건수_") and "_청구서_B0M" in col]].sum(axis=1)
df["총컨택_인터넷_B0M"] = df[[col for col in df.columns if col.startswith("컨택건수_") and "_인터넷_B0M" in col]].sum(axis=1)
df["총컨택_앱_B0M"] = df[[col for col in df.columns if col.startswith("컨택건수_") and "_당사앱_B0M" in col]].sum(axis=1)

# 총 컨택 횟수
df["총컨택건수_B0M"] = df[[col for col in df.columns if "_B0M" in col and "컨택건수" in col]].sum(axis=1)
df["총컨택건수_R6M"] = df[[col for col in df.columns if "_R6M" in col and "컨택건수" in col]].sum(axis=1)

# 채널 다양성 (얼마나 다양한 채널에 노출됐는지)
def count_positive_channels(cols):
    return (df[cols] > 0).sum(axis=1)

df["컨택채널다양성_B0M"] = count_positive_channels([col for col in df.columns if "컨택건수" in col and "_B0M" in col])
df["컨택채널다양성_R6M"] = count_positive_channels([col for col in df.columns if "컨택건수" in col and "_R6M" in col])

cols_to_drop = [
    # 각 채널별 컨택 세부 항목
    *[col for col in df.columns if "_B0M" in col and "컨택건수" in col and any(ch in col for ch in ["TM", "LMS", "EM", "청구서", "인터넷", "당사앱"])],
    *[col for col in df.columns if "_R6M" in col and "컨택건수" in col and any(ch in col for ch in ["TM", "LMS", "EM", "청구서", "인터넷", "당사앱"])]
]

df = df.drop(columns=cols_to_drop)

In [214]:
df = optimize_dataframe(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   기준년월          600000 non-null  int32
 1   ID            600000 non-null  category
 2   컨택건수_채권_B0M   600000 non-null  int8
 3   컨택건수_FDS_B0M  600000 non-null  int8
 4   컨택건수_채권_R6M   600000 non-null  int8
 5   컨택건수_FDS_R6M  600000 non-null  int8
 6   캠페인접촉건수_R12M  600000 non-null  category
 7   캠페인접촉일수_R12M  600000 non-null  category
 8   총컨택_TM_B0M    600000 non-null  int8
 9   총컨택_LMS_B0M   600000 non-null  int8
 10  총컨택_EM_B0M    600000 non-null  int8
 11  총컨택_청구서_B0M   600000 non-null  int8
 12  총컨택_인터넷_B0M   600000 non-null  int8
 13  총컨택_앱_B0M     600000 non-null  int8
 14  총컨택건수_B0M     600000 non-null  int8
 15  총컨택건수_R6M     600000 non-null  int16
 16  컨택채널다양성_B0M   600000 non-null  int8
 17  컨택채널다양성_R6M   600000 non-null  int8
dtypes: category(3), int16(1), int32(1), int8(13)
memory usage: 17.1 MB

In [215]:
df.to_parquet(file_path, index=False)

## 성과정보

In [220]:
file_name = "perf_optimized.parquet"
# file_path = os.path.join(save_path, file_name)
file_path = os.path.join(save_test_path, file_name)

df = pd.read_parquet(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   기준년월                600000 non-null  int32
 1   ID                  600000 non-null  category
 2   증감율_이용건수_신용_전월      600000 non-null  float32
 3   증감율_이용건수_신판_전월      600000 non-null  float32
 4   증감율_이용건수_일시불_전월     600000 non-null  float32
 5   증감율_이용건수_할부_전월      600000 non-null  float32
 6   증감율_이용건수_CA_전월      600000 non-null  float32
 7   증감율_이용건수_체크_전월      600000 non-null  float32
 8   증감율_이용건수_카드론_전월     600000 non-null  float32
 9   증감율_이용금액_신용_전월      600000 non-null  float32
 10  증감율_이용금액_신판_전월      600000 non-null  float32
 11  증감율_이용금액_일시불_전월     600000 non-null  float32
 12  증감율_이용금액_할부_전월      600000 non-null  float32
 13  증감율_이용금액_CA_전월      600000 non-null  float32
 14  증감율_이용금액_체크_전월      600000 non-null  float32
 15  증감율_이용금액_카드론_전월     600000 non-null  float32
 16  증감율_이용건수_신용_분기      600000 non-null  float32
 17  증감율_이용건수_신판_분기      600000 non-null  float32
 18  증감율_이용건수_일시불_분기     600000 non-null  float32
 19  증감율_이용건수_할부_분기      600000 non-null  float32
 20  증감율_이용건수_CA_분기      600000 non-null  float32
 21  증감율_이용건수_체크_분기      600000 non-null  float32
 22  증감율_이용건수_카드론_분기     600000 non-null  float32
 23  증감율_이용금액_신용_분기      600000 non-null  float32
 24  증감율_이용금액_신판_분기      600000 non-null  float32
 25  증감율_이용금액_일시불_분기     600000 non-null  float32
 26  증감율_이용금액_할부_분기      600000 non-null  float32
 27  증감율_이용금액_CA_분기      600000 non-null  float32
 28  증감율_이용금액_체크_분기      600000 non-null  float32
 29  증감율_이용금액_카드론_분기     600000 non-null  float32
 30  잔액_신판평균한도소진율_r6m    600000 non-null  float32
 31  잔액_신판최대한도소진율_r6m    600000 non-null  float32
 32  잔액_신판평균한도소진율_r3m    600000 non-null  float32
 33  잔액_신판최대한도소진율_r3m    600000 non-null  float32
 34  잔액_신판ca평균한도소진율_r6m  600000 non-null  float32
 35  잔액_신판ca최대한도소진율_r6m  600000 non-null  float32
 36  잔액_신판ca평균한도소진율_r3m  600000 non-null  float32
 37  잔액_신판ca최대한도소진율_r3m  600000 non-null  float32
 38  변동률_일시불평잔           600000 non-null  float32
 39  변동률_RV일시불평잔         600000 non-null  float32
 40  변동률_할부평잔            600000 non-null  float32
 41  변동률_CA평잔            600000 non-null  float32
 42  변동률_RVCA평잔          600000 non-null  float32
 43  변동률_카드론평잔           600000 non-null  float32
 44  변동률_잔액_B1M          600000 non-null  float32
 45  변동률_잔액_일시불_B1M      600000 non-null  float32
 46  변동률_잔액_CA_B1M       600000 non-null  float32
 47  혜택수혜율_R3M           600000 non-null  float32
 48  혜택수혜율_B0M           600000 non-null  float32
dtypes: category(1), float32(47), int32(1)
memory usage: 114.9 MB

In [221]:
# 전월 기준 증감율 평균
cols_amt_mom = [col for col in df.columns if "증감율" in col and "전월" in col]
df["전월_이용금액_증감율평균"] = df[[col for col in cols_amt_mom if "이용금액" in col]].mean(axis=1)
df["전월_이용건수_증감율평균"] = df[[col for col in cols_amt_mom if "이용건수" in col]].mean(axis=1)

# 전월 기준 증감율 표준편차 (변동성)
df["전월_이용금액_변동성"] = df[[col for col in cols_amt_mom if "이용금액" in col]].std(axis=1)
df["전월_이용건수_변동성"] = df[[col for col in cols_amt_mom if "이용건수" in col]].std(axis=1)

cols_amt_q = [col for col in df.columns if "증감율" in col and "분기" in col]
df["분기_이용금액_증감율평균"] = df[[col for col in cols_amt_q if "이용금액" in col]].mean(axis=1)
df["분기_이용건수_증감율평균"] = df[[col for col in cols_amt_q if "이용건수" in col]].mean(axis=1)

# 한도소진율 격차 (6M 기준)
df["소진율차_신판_R6M"] = df["잔액_신판최대한도소진율_r6m"] - df["잔액_신판평균한도소진율_r6m"]
df["소진율차_신판CA_R6M"] = df["잔액_신판ca최대한도소진율_r6m"] - df["잔액_신판ca평균한도소진율_r6m"]

cols_var_balance = [col for col in df.columns if col.startswith("변동률_") and "평잔" in col]
df["평잔변동률_평균"] = df[cols_var_balance].mean(axis=1)

df["혜택수혜율평균"] = (df["혜택수혜율_R3M"] + df["혜택수혜율_B0M"]) / 2

cols_to_drop = (
    cols_amt_mom + cols_amt_q + cols_var_balance +
    [
        "잔액_신판최대한도소진율_r6m", "잔액_신판평균한도소진율_r6m",
        "잔액_신판ca최대한도소진율_r6m", "잔액_신판ca평균한도소진율_r6m",
        "혜택수혜율_R3M", "혜택수혜율_B0M"
    ]
)

df = df.drop(columns=cols_to_drop)

In [222]:
df = optimize_dataframe(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   기준년월                600000 non-null  int32
 1   ID                  600000 non-null  category
 2   잔액_신판평균한도소진율_r3m    600000 non-null  float32
 3   잔액_신판최대한도소진율_r3m    600000 non-null  float32
 4   잔액_신판ca평균한도소진율_r3m  600000 non-null  float32
 5   잔액_신판ca최대한도소진율_r3m  600000 non-null  float32
 6   변동률_잔액_B1M          600000 non-null  float32
 7   변동률_잔액_일시불_B1M      600000 non-null  float32
 8   변동률_잔액_CA_B1M       600000 non-null  float32
 9   전월_이용금액_증감율평균       600000 non-null  float32
 10  전월_이용건수_증감율평균       600000 non-null  float32
 11  전월_이용금액_변동성         600000 non-null  float32
 12  전월_이용건수_변동성         600000 non-null  float32
 13  분기_이용금액_증감율평균       600000 non-null  float32
 14  분기_이용건수_증감율평균       600000 non-null  float32
 15  소진율차_신판_R6M         600000 non-null  float32
 16  소진율차_신판CA_R6M       600000 non-null  float32
 17  평잔변동률_평균            600000 non-null  float32
 18  혜택수혜율평균             600000 non-null  float32
dtypes: category(1), float32(17), int32(1)
memory usage: 46.3 MB

In [223]:
df.to_parquet(file_path, index=False)

# 하나의 DataFrame으로 합치기

In [ ]:
import pandas as pd
import os
import gc

# 병합할 parquet 파일 리스트
file_list = ["member", "credit", "tx", "bill", "balance", "channel", "mkt", "perf"]
save_path = "../dataset/train/merged_optimized"

# Step1: 첫 번째 파일 로드
train_df = pd.read_parquet(os.path.join(save_path, f"{file_list[0]}_optimized.parquet"))
print(f"Step1 저장 완료: train_step1, shape: {train_df.shape}")

# 병합할 나머지 파일들과 병합 단계 이름
merge_list = [
    ("credit", "Step2"),
    ("tx", "Step3"),
    ("bill", "Step4"),
    ("balance", "Step5"),
    ("channel", "Step6"),
    ("mkt", "Step7"),
    ("perf", "최종")
]

# 순차적으로 merge
for name, step in merge_list:
    file_path = os.path.join(save_path, f"{name}_optimized.parquet")
    merge_df = pd.read_parquet(file_path)

    train_df = train_df.merge(merge_df, on=["기준년월", "ID"], how="left")
    print(f"{step} 저장 완료: train_{step}, shape: {train_df.shape}")

    del merge_df
    gc.collect()

# 최종 확인
print("병합 완료. 최종 shape:", train_df.shape)

Step1 저장 완료: train_step1, shape: (2400000, 56)
Step2 저장 완료: train_Step2, shape: (2400000, 92)
Step3 저장 완료: train_Step3, shape: (2400000, 484)
Step4 저장 완료: train_Step4, shape: (2400000, 525)
Step5 저장 완료: train_Step5, shape: (2400000, 591)
Step6 저장 완료: train_Step6, shape: (2400000, 656)
Step7 저장 완료: train_Step7, shape: (2400000, 672)
최종 저장 완료: train_최종, shape: (2400000, 689)
병합 완료. 최종 shape: (2400000, 689)

In [232]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Columns: 689 entries, 기준년월 to 혜택수혜율평균
dtypes: category(22), datetime64[ns](6), float32(40), float64(4), int16(132), int32(121), int64(9), int8(355)
memory usage: 3.2 GB

In [229]:
train_df.to_parquet(os.path.join(save_path, "train.parquet"), index=False)

In [230]:
# 병합할 parquet 파일 리스트
file_list = ["member", "credit", "tx", "bill", "balance", "channel", "mkt", "perf"]
save_test_path = "../dataset/test/merged_optimized"

# Step1: 첫 번째 파일 로드
test_df = pd.read_parquet(os.path.join(save_test_path, f"{file_list[0]}_optimized.parquet"))
print(f"Step1 저장 완료: train_step1, shape: {test_df.shape}")

# 병합할 나머지 파일들과 병합 단계 이름
merge_list = [
    ("credit", "Step2"),
    ("tx", "Step3"),
    ("bill", "Step4"),
    ("balance", "Step5"),
    ("channel", "Step6"),
    ("mkt", "Step7"),
    ("perf", "최종")
]

# 순차적으로 merge
for name, step in merge_list:
    file_path = os.path.join(save_path, f"{name}_optimized.parquet")
    merge_df = pd.read_parquet(file_path)

    test_df = test_df.merge(merge_df, on=["기준년월", "ID"], how="left")
    print(f"{step} 저장 완료: train_{step}, shape: {test_df.shape}")

    del merge_df
    gc.collect()

# 최종 확인
print("병합 완료. 최종 shape:", test_df.shape)

Step1 저장 완료: train_step1, shape: (600000, 55)
Step2 저장 완료: train_Step2, shape: (2400000, 689)
Step3 저장 완료: train_Step3, shape: (2400000, 689)
Step4 저장 완료: train_Step4, shape: (2400000, 689)
Step5 저장 완료: train_Step5, shape: (2400000, 689)
Step6 저장 완료: train_Step6, shape: (2400000, 689)
Step7 저장 완료: train_Step7, shape: (2400000, 689)
최종 저장 완료: train_최종, shape: (2400000, 689)
병합 완료. 최종 shape: (600000, 688)

In [231]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Columns: 688 entries, 기준년월 to 혜택수혜율평균
dtypes: category(20), datetime64[ns](6), float32(40), float64(580), int16(3), int32(4), int64(5), int8(29), object(1)
memory usage: 2.8+ GB

In [233]:
test_df.to_parquet(os.path.join(save_test_path, "test.parquet"), index=False)